/* Product page */
.block-shipping .block-title strong {
    background-image: url("./images/i_shipping.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 21px;
}
.estimate-form {
    padding: 7px;
}
.estimate-form #pcs {
    width: 150px;
    padding: 4px;
    padding-right: 26px;
    /*border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 10px #EEEEEE inset;*/
    background-color: transparent;
}
.estimate-form .estimate-button {
    padding-top:5px;
    width: 100%;
    text-align: right;
}
.estimate-form select {
    margin-bottom: 5px;
    width: 182px;
}

.postcode-container input, .city-container input {
    margin: 2px 0px;
    width: 176px;
}

.postcode-container label .city-container label{
    background-color: #FAEBE7;
    background-image: url("../images/i_msg-error.gif");
    border-color: #F16048;
    color: #DF280A;
}