<div class="sidebar-nav navbar-default navbar-fixed-top" role="navigation">
	<div class="col-sm-12">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html"><img src="library/images/logo.png" alt="" /></a>
		</div>
	</div>
	<div class="com-sm-12">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="index.html">I. Home</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="01-install.html">II. Installation <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="01-01-before-installing.html">1. Before Installing</a></li>
						<li><a href="01-02-installing-theme.html">2. Installing Theme</a></li>
						<li><a href="01-03-after-installing.html">3. After Installing</a></li>
						<li><a href="01-04-installation-service.html">4. Installation Service</a></li>
					</ul>
				</li>
				<li class="dropdown fixed-top">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">III. Base Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="02-01-stores.html">1. Stores</a></li>
						<li><a href="02-02-caching-system.html">2. Caching System</a></li>
						<li><a href="02-03-index-management.html">3. Index Management</a></li>
						<li><a href="02-04-categories.html">4. Categories</a></li>
						<li><a href="02-05-products.html">5. Products</a></li>
						<li><a href="02-06-attributes.html">6. Attributes</a></li>
						<li><a href="02-07-logo.html">7. Logo</a></li>
						<li><a href="02-08-homepage.html">8. Homepage</a></li>
						<li><a href="02-09-translation-localization.html">9. Translation/Localization</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">IV. Theme Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="03-01-active-deactive-theme.html">1. Active &amp; Deactive Theme</a></li>
						<li><a href="03-02-customize-theme.html">2. Customize Theme</a></li>
						<li><a href="03-03-clone-theme.html">3. Clone Theme</a></li>
						<li><a href="03-04-import-theme.html">4. Import Theme</a></li>
						<li><a href="03-05-export-theme.html">5. Export Theme</a></li>
						
					</ul>
				</li>
				<li class="dropdown fixed-top">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">V. Widgets<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="04-01-filter-products.html">1. EM Mini Filter Products</a></li>
						<li><a href="04-02-tabs.html">2. EM Tabs</a></li>										
						<li><a href="04-04-flexible-blocks.html">3. EM Flexible Blocks</a></li>
						<li><a href="04-05-slideshow.html">4. EM Slideshow Compact</a></li>
						<li><a href="04-06-mega-menu.html">5. EM Mega Menu</a></li>
						<li><a href="04-07-products-label.html">6. EM Products Label</a></li>
						<li><a href="04-08-layer-navigation.html">7. EM Layer Navigation</a></li>
						<li><a href="04-09-group-deals.html">8. EM Group Deals</a></li>
					</ul>
				</li>
				<li class="dropdown fixed-top">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">VI. Theme Content<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="row" style="width:400px">
							<ul class="col-sm-6" style="clear:none; float:left">
								<li><a href="05-01-layout-01.html">1. Fashion</a></li>
								<li><a href="05-02-layout-02.html">2. Clothing</a></li>
								<li><a href="05-03-layout-03.html">3. Furniture</a></li>
								<li><a href="05-04-layout-04.html">4. Shoes</a></li>
								<li><a href="05-05-layout-05.html">5. Babyshop</a></li>
								<li><a href="05-06-layout-06.html">6. Glass</a></li>
								<li><a href="05-07-layout-07.html">7. Garden</a></li>
								<li><a href="05-08-layout-08.html">8. Watches</a></li>
								<li><a href="05-09-layout-09.html">9. Sport</a></li>
								<li><a href="05-10-layout-10.html">10. Jewelry</a></li>
								<li><a href="05-11-layout-11.html">11. Lingerie</a></li>
								<li><a href="05-12-layout-12.html">12. Beauty</a></li>								
							</ul>
							<ul class="col-sm-6" style="clear:none; float:left">
								<li><a href="05-13-layout-13.html">13. Computer</a></li>
								<li><a href="05-14-layout-14.html">14. Smartphone</a></li>
								<li><a href="05-15-layout-15.html">15. Supermarket</a></li>
								<li><a href="05-16-layout-16.html">16. FashionNova</a></li>
								<li><a href="05-17-layout-17.html">17. Milan Style</a></li>
								<li><a href="05-18-layout-18.html">18. Supermarket &amp; Deal</a></li>
								<li><a href="05-19-layout-19.html">19. GameWorld</a></li>
								<li><a href="05-20-layout-20.html">20. Health &amp; Personal Care</a></li>
								<li><a href="05-21-layout-21.html">21. Bicycle Store</a></li>
								<li><a href="05-22-layout-22.html">22. Mello Sneaker</a></li>
								<li><a href="05-23-layout-23.html">23. Scooter Shop</a></li>
								<li><a href="05-24-layout-24.html">24. Lunar New Year</a></li>
							</ul>
						</li>
					</ul>										
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">VII. Developer<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="06-01-css-html.html">1. Custom CSS &amp; Html</a></li>
						<li><a href="06-02-javascript.html">2. Custom Javascript</a></li>
						<li><a href="06-03-slider.html">3. Custom Slider</a></li>
						<li><a href="06-04-video-responsive.html">4. Custom Video Responsive</a></li>
						<li><a href="06-05-merge-js-css.html">5. Merging Javascript &amp; CSS</a></li>
						<li><a href="06-06-tips.html">6. Tips Magento Speed</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">VIII. Updates <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="08-01-updates.html">1. Updates</a></li>
						<li><a href="08-02-changelog.html">2. ChangeLog</a></li>
					</ul>
				</li>
				<li><a href="07-troubleshooting.html">IX. Troubleshooting &amp; FAQ</a></li>
			</ul>
		</div>
	</div>
</div>