<?php if(Mage::getStoreConfig('blog/menu/show_recent_comment')):?>
<div class="block em_block-recent-comments em-line-01">
    <div class="block-title">
        <strong><span><?php echo $this->__('Recent Comments')?></span></strong>
    </div>
	<div class="block-content">		
        <ul class="em-blog-recent-comment">
			<?php $rcs = $this->getCommentCollection();?>
			<?php if($rcs->count() > 0 ) : ?>
				<?php foreach($rcs as $rc): ?>      				
      				<li class="recent-comment-item">
                        <a class="comment-title" href="<?php echo $rc->getPost()->getPostUrl(false);?>" ><?php echo $rc->getTitlePost();?></a>						   
  					   <div class="recent-comment-content">
  					       <?php echo $this->getTitleComment($rc->getCommentContent(),50); ?>
  					   </div>
                       <div class="comment-header">
						   	<span class="comment-by">
							   <span><?php echo $rc->getUsername()?></span>
						   	</span>
						    <?php $date = new DateTime($rc->getTime());?>
						    <span class="post-time"><small class="time-stamp"><?php echo $date->format('M j Y'); ?></small></span>
						</div>
                    </li>
			    <?php endforeach;?>						
			<?php else :  ?>
				<li><p class="empty"><?php echo $this->__('No recent comment') ?></p></li>				
			<?php endif; ?>	
		</ul>
	</div>
</div>
<?php endif;?>