<table class="footer-wrap">
<tr>
<td>
</td>
<td class="container">
<div class="content">
		<table>
		<tr class="footer-c">
			<td align="center">
			<p><a href="{{store direct_url='about-us'}}">About Us</a> | <a href="{{store direct_url='contacts'}}">FAQ</a> | <a href="{{store direct_url='terms-condition'}}">Term &amp; Conditions</a> | <a href="{{store direct_url='privacy-policy'}}">Privacy Policy</a></p><p>Copyright © 2016 by {{var store.getFrontendName()}}. All Right Reserved. </p>
			</td>
		</tr>
		</table>
	</div>
</td>
<td>
</td>
</tr>
</table>
</body>
</html>