<!--@subject New password for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline_back.css"}}

<table class="body-wrap">
<tr>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
    <table bgcolor="" class="social" width="100%">
        <tr style="padding-bottom: 7px; padding-top: 5px;">
            <td align="" style="position: relative; padding: 0 15px ;">
                <ul class="nav" style="text-align:center;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                </ul>  
            <h1>{{htmlescape var=$user.name}},</h1>
            <p><strong>Your new password is:</strong> {{htmlescape var=$password}}</p>
            <p>You can change your password at any time by logging into <a href="{{store url="adminhtml/system_account/"}}">your account</a>.</p>
         </td>
        </tr>
    </table>
</div>	


</td>
</tr>
</table>

{{template config_path="design/email/footer"}}