<!--@subject Password Reset Confirmation for {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline_back.css"}}

<table class="body-wrap">
<tr>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
    <table bgcolor="" class="social" width="100%">
        <tr style="padding-bottom: 7px; padding-top: 5px;">
            <td align="" style="position: relative; padding: 0 15px ;">
                <ul class="nav" style="text-align:center;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                </ul>   
            <h1>{{htmlescape var=$user.name}},</h1>
            <p>There was recently a request to change the password for your account.</p>
            <p>You can change your password at any time by logging into <a href="{{store url="adminhtml/system_account/"}}">your account</a>.</p>
            <p>If you requested this password change, click here to reset your password:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>Reset Password</span></a>
                    </td>
                </tr>
            </table>
            <p>If you did not make this request, you can ignore this message and your password will remain the same.</p>
      </td>
        </tr>
    </table>
</div>  


</td>
</tr>
</table>

{{template config_path="design/email/footer"}}
