<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <title>{{var store.getFrontendName()}}</title>
    {{var non_inline_styles}}
</head>
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
<body bgcolor="#FFFFFF" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">
    <img editable="true" />
<table class="head-wrap" bgcolor="#F8F8F8">
<tr>
    <td>
    </td>
    <td class="header container">
        <div class="content">
            <table bgcolor="#f5f5f5" class="">
            <tr>
                <td  style="text-align: center;padding: 9px 0;">
                 <a href="{{store url='#'}}">
                  <img src="{{skin url=images/logo.gif}}" alt="" /></a>
                </td>
                
            </tr>
            </table>
        </div>
    </td>
    <td>
    </td>
</tr>
</table>
