
html {
      -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box
}


img {

    -ms-interpolation-mode: bicubic
}


body,
html {margin: 0px;padding: 0px;

}
*,
:after,
:before {
    box-sizing: inherit
}

@media only screen {
    .small-push-2,
    .small-push-3 {
        position: relative;
        right: auto
    }
    .small-push-2 {
        left: 16.66667%
    }
    .small-push-3 {
        left: 25%
    }
    .column,
    .columns {
        position: relative;
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
    .small-1 {
        width: 8.33333%
    }
    .small-2 {
        width: 16.66667%
    }
    .small-3 {
        width: 25%
    }
    .small-4 {
        width: 33.33333%
    }
    .small-5 {
        width: 41.66667%
    }
    .small-6 {
        width: 50%
    }
    .small-7 {
        width: 58.33333%
    }
    .small-8 {
        width: 66.66667%
    }
    .small-9 {
        width: 75%
    }
    .small-10 {
        width: 83.33333%
    }
    .small-11 {
        width: 91.66667%
    }
    .small-12 {
        width: 100%
    }
    .small-reset-order {
        float: left;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        right: auto
    }
    .column.small-centered,
    .columns.small-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.small-uncentered,
    .columns.small-uncentered {
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .column.small-centered:last-child,
    .columns.small-centered:last-child {
        float: none
    }
    .column.small-uncentered:last-child,
    .columns.small-uncentered:last-child {
        float: left
    }
    .column.small-uncentered.opposite,
    .columns.small-uncentered.opposite {
        float: right
    }
    .row.small-collapse>.column,
    .row.small-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .row.small-collapse .row {
        margin-left: 0;
        margin-right: 0
    }
    .row.small-uncollapse>.column,
    .row.small-uncollapse>.columns {
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
}
@media only screen and (min-width: 48em) {
    .medium-pull-0 {
        position: relative;
        right: 0;
        left: auto
    }
    .medium-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto
    }
    .medium-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto
    }
    .medium-push-3,
    .medium-push-5,
    .medium-push-6 {
        right: auto;
        position: relative
    }
    .medium-push-3 {
        left: 25%
    }
    .medium-push-5 {
        left: 41.66667%
    }
    .medium-push-6 {
        left: 50%
    }
    .medium-pull-6 {
        position: relative;
        right: 50%;
        left: auto
    }
    .medium-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto
    }
    .medium-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
    .medium-1 {
        width: 8.33333%
    }
    .medium-2 {
        width: 16.66667%
    }
    .medium-3 {
        width: 25%
    }
    .medium-4 {
        width: 33.33333%
    }
    .medium-5 {
        width: 41.66667%
    }
    .medium-6 {
        width: 50%
    }
    .medium-7 {
        width: 58.33333%
    }
    .medium-8 {
        width: 66.66667%
    }
    .medium-9 {
        width: 75%
    }
    .medium-10 {
        width: 83.33333%
    }
    .medium-11 {
        width: 91.66667%
    }
    .medium-12 {
        width: 100%
    }
    .medium-reset-order {
        float: left;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        right: auto
    }
    .column.medium-centered,
    .columns.medium-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.medium-uncentered,
    .columns.medium-uncentered {
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .column.medium-centered:last-child,
    .columns.medium-centered:last-child {
        float: none
    }
    .column.medium-uncentered:last-child,
    .columns.medium-uncentered:last-child {
        float: left
    }
    .column.medium-uncentered.opposite,
    .columns.medium-uncentered.opposite {
        float: right
    }
    .row.medium-collapse>.column,
    .row.medium-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .row.medium-collapse .row {
        margin-left: 0;
        margin-right: 0
    }
    .row.medium-uncollapse>.column,
    .row.medium-uncollapse>.columns {
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
}
@media only screen and (min-width: 60em) {
    .large-push-2,
    .large-push-3,
    .large-push-5 {
        right: auto;
        position: relative
    }
    .column,
    .columns,
    .large-pull-5,
    .large-push-2,
    .large-push-3,
    .large-push-5,
    .large-push-7 {
        position: relative
    }
    .large-push-2 {
        left: 16.66667%
    }
    .large-push-3 {
        left: 25%
    }
    .large-push-5 {
        left: 41.66667%
    }
    .large-pull-5 {
        right: 41.66667%;
        left: auto
    }
    .large-push-7 {
        left: 58.33333%;
        right: auto
    }
    .column,
    .columns {
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
    .large-1 {
        width: 8.33333%
    }
    .large-2 {
        width: 16.66667%
    }
    .large-3 {
        width: 25%
    }
    .large-4 {
        width: 33.33333%
    }
    .large-5 {
        width: 41.66667%
    }
    .large-6 {
        width: 50%
    }
    .large-7 {
        width: 58.33333%
    }
    .large-8 {
        width: 66.66667%
    }
    .large-9 {
        width: 75%
    }
    .large-10 {
        width: 83.33333%
    }
    .large-11 {
        width: 91.66667%
    }
    .large-12 {
        width: 100%
    }
    .large-reset-order {
        float: left;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        right: auto
    }
    .column.large-centered,
    .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.large-uncentered,
    .columns.large-uncentered {
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .column.large-centered:last-child,
    .columns.large-centered:last-child {
        float: none
    }
    .column.large-uncentered:last-child,
    .columns.large-uncentered:last-child {
        float: left
    }
    .column.large-uncentered.opposite,
    .columns.large-uncentered.opposite {
        float: right
    }
    .row.large-collapse>.column,
    .row.large-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .row.large-collapse .row {
        margin-left: 0;
        margin-right: 0
    }
    .row.large-uncollapse>.column,
    .row.large-uncollapse>.columns {
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
}
@media only screen and (min-width: 80em) {
    .xlarge-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto
    }
    .xlarge-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto
    }
    .column,
    .columns {
        position: relative;
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
    .xlarge-1 {
        width: 8.33333%
    }
    .xlarge-2 {
        width: 16.66667%
    }
    .xlarge-3 {
        width: 25%
    }
    .xlarge-4 {
        width: 33.33333%
    }
    .xlarge-5 {
        width: 41.66667%
    }
    .xlarge-6 {
        width: 50%
    }
    .xlarge-7 {
        width: 58.33333%
    }
    .xlarge-8 {
        width: 66.66667%
    }
    .xlarge-9 {
        width: 75%
    }
    .xlarge-10 {
        width: 83.33333%
    }
    .xlarge-11 {
        width: 91.66667%
    }
    .xlarge-12 {
        width: 100%
    }
    .xlarge-reset-order {
        float: left;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        right: auto
    }
    .column.xlarge-centered,
    .columns.xlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.xlarge-uncentered,
    .columns.xlarge-uncentered {
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .column.xlarge-centered:last-child,
    .columns.xlarge-centered:last-child {
        float: none
    }
    .column.xlarge-uncentered:last-child,
    .columns.xlarge-uncentered:last-child {
        float: left
    }
    .column.xlarge-uncentered.opposite,
    .columns.xlarge-uncentered.opposite {
        float: right
    }
    .row.xlarge-collapse>.column,
    .row.xlarge-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .row.xlarge-collapse .row {
        margin-left: 0;
        margin-right: 0
    }
    .row.xlarge-uncollapse>.column,
    .row.xlarge-uncollapse>.columns {
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
}
@media only screen and (min-width: 120.0625em) {
    .column,
    .columns {
        position: relative;
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
    .xxlarge-1 {
        width: 8.33333%
    }
    .xxlarge-2 {
        width: 16.66667%
    }
    .xxlarge-3 {
        width: 25%
    }
    .xxlarge-4 {
        width: 33.33333%
    }
    .xxlarge-5 {
        width: 41.66667%
    }
    .xxlarge-6 {
        width: 50%
    }
    .xxlarge-7 {
        width: 58.33333%
    }
    .xxlarge-8 {
        width: 66.66667%
    }
    .xxlarge-9 {
        width: 75%
    }
    .xxlarge-10 {
        width: 83.33333%
    }
    .xxlarge-11 {
        width: 91.66667%
    }
    .xxlarge-12 {
        width: 100%
    }
    .xxlarge-reset-order {
        float: left;
        left: auto;
        margin-left: 0;
        margin-right: 0;
        right: auto
    }
    .column.xxlarge-centered,
    .columns.xxlarge-centered {
        margin-left: auto;
        margin-right: auto;
        float: none
    }
    .column.xxlarge-uncentered,
    .columns.xxlarge-uncentered {
        float: left;
        margin-left: 0;
        margin-right: 0
    }
    .column.xxlarge-centered:last-child,
    .columns.xxlarge-centered:last-child {
        float: none
    }
    .column.xxlarge-uncentered:last-child,
    .columns.xxlarge-uncentered:last-child {
        float: left
    }
    .column.xxlarge-uncentered.opposite,
    .columns.xxlarge-uncentered.opposite {
        float: right
    }
    .row.xxlarge-collapse>.column,
    .row.xxlarge-collapse>.columns {
        padding-left: 0;
        padding-right: 0
    }
    .row.xxlarge-collapse .row {
        margin-left: 0;
        margin-right: 0
    }
    .row.xxlarge-uncollapse>.column,
    .row.xxlarge-uncollapse>.columns {
        padding-left: .5rem;
        padding-right: .5rem;
        float: left
    }
}


@media only screen {
    .hide-for-large-only,
    .hide-for-large-up,
    .hide-for-medium-only,
    .hide-for-medium-up,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .show-for-small-only,
    .show-for-small-up {
        display: inherit!important
    }
    .hide-for-small-only,
    .hide-for-small-up,
    .show-for-large-only,
    .show-for-large-up,
    .show-for-medium-only,
    .show-for-medium-up,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up {
        display: none!important
    }
}
@media only screen and (min-width: 48em) {
   
    .hide-for-large-only,
    .hide-for-large-up,
    .hide-for-small-only,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .show-for-medium-only,
    .show-for-medium-up,
    .show-for-small-up {
        display: inherit!important
    }
    .hide-for-medium-only,
    .hide-for-medium-up,
    .hide-for-small-up,
    .show-for-large-only,
    .show-for-large-up,
    .show-for-small-only,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up {
        display: none!important
    }
}
@media only screen and (min-width: 60em) {
    .hide-for-medium-only,
    .hide-for-small-only,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .show-for-large-only,
    .show-for-large-up,
    .show-for-medium-up,
    .show-for-small-up {
        display: inherit!important
    }
    .hide-for-large-only,
    .hide-for-large-up,
    .hide-for-medium-up,
    .hide-for-small-up,
    .show-for-medium-only,
    .show-for-small-only,
    .show-for-xlarge-only,
    .show-for-xlarge-up,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up {
        display: none!important
    }
}
@media only screen and (min-width: 80em) {
    .hide-for-large-only,
    .hide-for-medium-only,
    .hide-for-small-only,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .show-for-large-up,
    .show-for-medium-up,
    .show-for-small-up,
    .show-for-xlarge-only,
    .show-for-xlarge-up {
        display: inherit!important
    }
    .hide-for-large-up,
    .hide-for-medium-up,
    .hide-for-small-up,
    .hide-for-xlarge-only,
    .hide-for-xlarge-up,
    .show-for-large-only,
    .show-for-medium-only,
    .show-for-small-only,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up {
        display: none!important
    }
}
@media only screen and (min-width: 120.0625em) {
    .xxlarge-text-left {
        text-align: left!important
    }
    .xxlarge-text-right {
        text-align: right!important
    }
    .xxlarge-text-center {
        text-align: center!important
    }
    .xxlarge-text-justify {
        text-align: justify!important
    }
    .hide-for-large-only,
    .hide-for-medium-only,
    .hide-for-small-only,
    .hide-for-xlarge-only,
    .show-for-large-up,
    .show-for-medium-up,
    .show-for-small-up,
    .show-for-xlarge-up,
    .show-for-xxlarge-only,
    .show-for-xxlarge-up {
        display: inherit!important
    }
    .hide-for-large-up,
    .hide-for-medium-up,
    .hide-for-small-up,
    .hide-for-xlarge-up,
    .hide-for-xxlarge-only,
    .hide-for-xxlarge-up,
    .show-for-large-only,
    .show-for-medium-only,
    .show-for-small-only,
    .show-for-xlarge-only {
        display: none!important
    }
}



#main-image .owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
#main-image .owl-carousel {
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
#main-image .owl-carousel .owl-wrapper {
    display: none;
    position: relative
}
#main-image .owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%
}
#main-image .owl-carousel .owl-wrapper-outer.autoHeight {
    transition: height .5s ease-in-out
}
#main-image .owl-carousel .owl-item {
    float: left
}
#main-image .owl-controls .owl-buttons div,
#main-image .owl-controls .owl-page {
    cursor: pointer
}
#main-image .owl-controls {
    -webkit-tap-highlight-color: transparent
}
#main-image .grabbing {
    cursor: -webkit-grabbing, -webkit-grab, move;
    cursor: grabbing, grab, move
}
#main-image .owl-carousel .owl-item,
#main-image .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0)
}
#main-image .owl-theme .owl-controls {
    margin-top: 8px;
    text-align: center
}
#main-image .owl-theme .owl-controls .owl-buttons div {
    width: 4.25rem;
    height: 3.75rem;
    margin-top: -1.875rem;
    top: 50%;
    color: #232323;
    border: 0;
    z-index: 10;
    position: absolute
}
#main-image .owl-theme .owl-controls .owl-buttons div:before {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: "Iconic Icons"!important;
    font-size: 0;
    line-height: 3.75rem
}
#main-image  .owl-carousel .owl-item{ padding: 0;}
#main-image .owl-theme .owl-controls .owl-buttons div.owl-next
 {
background: url("arrow-right-owl.png") no-repeat scroll right center;
    height: 65px;
    right: 24px;top: 40%;
}


#main-image .owl-theme .owl-controls .owl-buttons div.owl-next:before {
/*    content: ""*/
}
#main-image .owl-theme .owl-controls .owl-buttons div.owl-prev {
   /* left: 0;*/background: url("arrow-left-owl.png") no-repeat scroll left center;
    height: 65px;
    left: 24px;top: 40%;
}
#main-image .owl-theme .owl-controls .owl-buttons div.owl-prev:before {
   /* content: ""*/
  /*  background: url("arrow-left-owl.png"); background-repeat: no-repeat;*/
}



#main-image .owl-theme .owl-controls.clickable .owl-buttons div:hover {
    opacity: 1;
    text-decoration: none
}
#main-image .owl-theme .owl-controls .owl-page {
    display: inline-block
}
.main-image-frame {
    margin-bottom: 16px;
}
.small-12.thumb-10 .image-frame > img {
    height: auto;
    width: 100%;left: 0;
}
.small-12.thumb-10 .image-frame {
    min-height: auto !important;
}
#main-image .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 4px 8px;
    opacity: .5;
    border-radius: 50%;
    background: #232323
}
#main-image .owl-theme .owl-controls .owl-page.active span,
#main-image .owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100);
    opacity: 1
}
#main-image .owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 30px
}
#main-image .owl-item.loading .image-frame .loading {
    display: block;
    margin: -.5em auto .1875em;
    text-indent: -9999em;
    position: absolute;
    top: 50%;
    left: 50%
}
#main-image .owl-item.loading .image-frame .loading,
#main-image .owl-item.loading .image-frame .loading:after,
#main-image .owl-item.loading .image-frame .loading:before {
    -webkit-animation: load 1.28s ease-in-out .16s infinite both;
    animation: load 1.28s ease-in-out .16s infinite both;
    width: .75em;
    height: .75em;
    border-radius: 50%
}
#main-image .owl-item.loading .image-frame .loading:after,
#main-image .owl-item.loading .image-frame .loading:before {
    content: '';
    position: absolute;
    top: 0
}
#main-image .owl-item.loading .image-frame .loading:before {
    left: -1em;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}
#main-image .owl-item.loading .image-frame .loading:after {
    left: 1em;
    -webkit-animation-delay: .32s;
    animation-delay: .32s
}
#main-image .owl-origin {
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    -moz-perspective: 1200px;
    -moz-perspective-origin-x: 50%;
    -moz-perspective-origin-y: 50%;
    -webkit-perspective: 1200px;
    perspective: 1200px
}
#main-image .owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease
}
#main-image .owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease
}
#main-image .owl-backSlide-out {
    -webkit-animation: backSlideOut 1s both ease;
    animation: backSlideOut 1s both ease
}
#main-image .owl-backSlide-in {
    -webkit-animation: backSlideIn 1s both ease;
    animation: backSlideIn 1s both ease
}
#main-image .owl-goDown-out {
    -webkit-animation: scaleToFade .7s ease both;
    animation: scaleToFade .7s ease both
}
#main-image .owl-goDown-in {
    -webkit-animation: goDown .6s ease both;
    animation: goDown .6s ease both
}
#main-image .owl-fadeUp-in {
    -webkit-animation: scaleUpFrom .5s ease both;
    animation: scaleUpFrom .5s ease both
}


.fullsized.ng-scope img {
    padding: 68px;
}


.next.icon.icon-arrow-right
 {
background: url("right.png") no-repeat scroll right center;
    height: 65px;
    right: 24px;top: 40%;
}

.prev.icon.icon-arrow-left {
   /* left: 0;*/background: url("left.png") no-repeat scroll left center;
    height: 65px;
    left: 24px;top: 40%;
}
.close.icon.icon-cancel
 {
background: url("cancel.png") no-repeat scroll right center;
    height: 65px;
    right: 24px;top: 0; opacity: 1;
}





.owl-fadeUp-out {
    -webkit-animation: scaleUpTo .5s ease both;
    animation: scaleUpTo .5s ease both
}
@-webkit-keyframes empty {
    0% {
        opacity: 1
    }
}
@keyframes empty {
    0% {
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}
@-webkit-keyframes backSlideOut {
    25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px)
    }
    100%,
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%)
    }
}
@keyframes backSlideOut {
    25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px)
    }
    100%,
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%)
    }
}
@-webkit-keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0)
    }
}
@keyframes backSlideIn {
    0%, 25% {
        opacity: .5;
        -webkit-transform: translateZ(-500px) translateX(200%);
        transform: translateZ(-500px) translateX(200%)
    }
    75% {
        opacity: .5;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0)
    }
}
@-webkit-keyframes scaleToFade {
    to {
        opacity: 0;
        -webkit-transform: scale(.8)
    }
}
@keyframes scaleToFade {
    to {
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}
@-webkit-keyframes goDown {
    from {
        -webkit-transform: translateY(-100%)
    }
}
@keyframes goDown {
    from {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}
@-webkit-keyframes scaleUpFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}
@keyframes scaleUpFrom {
    from {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}
@-webkit-keyframes scaleUpTo {
    to {
        opacity: 0;
        -webkit-transform: scale(1.5)
    }
}
@keyframes scaleUpTo {
    to {
        opacity: 0;
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }
}
.image-frame {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%
}
.image-frame .img,
.image-frame .media,
.image-frame img,
.image-frame video {
    width: 100%;
    height: auto;
    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: inherit
}
.image-frame .emerge {
    transition: filter .15s linear, -webkit-filter .15s linear, opacity .15s linear
}
.image-frame .emerge-prepare {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    transition: all 0s linear
}
.decorated-image,
.decorated-media,
.decorated-video {
    position: relative;
    display: block
}
.decorated-image .icon-wishlist.ti-share-button,
.decorated-video .icon-wishlist.ti-share-button {
    position: absolute;
    top: 0;
    right: 0
}
.decorated-image .ti-share-button,
.decorated-video .ti-share-button {
    position: absolute;
    bottom: 0;
    right: 0
}
.breadcrumbs {
    color: #AFAFAF;
    margin-bottom: 0;
    letter-spacing: 1px
}
.breadcrumbs li:hover a {
    color: #232323
}
.side-nav li {
    border-radius: 2px
}
.side-nav li .label {
    padding: .25rem .375rem;
    border-radius: 2px;
    background: #696969;
    color: #FFF
}
.side-nav li.active,
.side-nav li:hover {
    background: #232323;
    color: #656565
}
.side-nav li.active .label,
.side-nav li:hover .label {
    background: #FFF;
    color: #232323
}
.side-nav li a {
    padding: .4375rem .875rem
}
.ti-tabs .tabs dd {
    top: 0
}
.ti-tabs .tabs dd.active a {
    color: #000
}
.ti-tabs .tabs-content .tabs dd a {
    color: #222;
    background: #FFF
}
meta.foundation-mq-small {
    font-family: "/only screen and (max-width: 47.9375em)/";
    width: 47.9375em
}
meta.foundation-mq-medium {
    font-family: "/only screen and (min-width:48em) and (max-width:59.9375em)/";
    width: 48em
}
meta.foundation-mq-large {
    font-family: "/only screen and (min-width:60em) and (max-width:79.9375em)/";
    width: 60em
}
meta.foundation-mq-xlarge {
    font-family: "/only screen and (min-width:80em)/";
    width: 80em
}
meta.foundation-mq-xxlarge {
    font-family: "/only screen and (min-width:120.0625em)/";
    width: 120.0625em
}
.ti-mq {
    position: absolute;
    top: -100em;
    width: 0
}
@media only screen and (max-width: 47.9375em) {
    .ti-mq-small {
        transition: width 1ms;
        width: 1px
    }
}
@media only screen and (min-width: 48em) and (max-width: 59.9375em) {
    .ti-mq-medium {
        transition: width 1ms;
        width: 1px
    }
}
@media only screen and (min-width: 60em) and (max-width: 79.9375em) {
    .ti-mq-large {
        transition: width 1ms;
        width: 1px
    }
}
@media only screen and (min-width: 80em) {
    .ti-mq-xlarge {
        transition: width 1ms;
        width: 1px
    }
}
.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial
}
.full-width .column,
.full-width .columns {
    padding: 0;
    margin: 0
}
.column.collapse-left,
.columns.collapse-left {
    padding-left: 0!important
}
.ti-blocks,
.ti-blocks-container {
    padding: 0;
    margin: 0;
    list-style: none
}
.ti-block {
    display: inherit
}
.ti-block-main {
    -webkit-flex: 2 0 100%;
    -ms-flex: 2 0 100%;
    flex: 2 0 100%
}
.ti-blocks {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}
.ti-blocks-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.info,
.label {
    padding: .5rem
}
@font-face {
    font-family: "Iconic Icons";
    src: url(../../../../../../../../../../../../../fonts/iconic-icons-subset.eot?) format("eot"), url(../../../../../../../../../../../../../fonts/iconic-icons-subset.woff2) format("woff2"), url(../../../../../../../../../../../../../fonts/iconic-icons-subset.woff) format("woff"), url(../../../../../../../../../../../../../fonts/iconic-icons-subset.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

.cms-content a[href] {
    text-decoration: underline;
    font-weight: 700
}
.cms-content a[href].accordion-title,
.cms-content a[href].button,
.cms-content a[href].globalLink,
.cms-content a[href].undecorated,
.cms-content dl.style-navigation-list dd a[href],
.cms-content dl.tabs dd a[href] {
    text-decoration: none;
    font-weight: 400
}

.main-header .account-menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1002;
    background: #fff;
    text-align: left;
    color: #000;
    min-width: 70px;
    display: none
}
.main-header .account-menu.active {
    display: block
}
.main-header .account-menu h4 {
    padding: 16px;
    font-size: .75rem;
    line-height: 1.125rem;
    font-family: "Proxima Nova Bold";
    margin: 0;
    text-align: center
}
@media only screen and (min-width: 48em) {
    .main-header .account-menu h4 {
        font-size: .875rem;
        line-height: 1.3125rem
    }
}
.main-header .account-menu ul {
    margin: 0;
    padding: 0
}
.main-header .account-menu ul li {
    display: block;
    padding: 0;
    margin: 0
}
.main-header .account-menu ul li a {
    padding: 8px 16px;
    color: #464646;
    display: block;
    font-size: .75rem
}
.main-header .account-menu ul li a:hover {
    color: #42ABC8
}
@media only screen and (min-width: 48em) {
    .main-header .account-menu ul li a {
        font-size: .875rem
    }
}
.main-header .account-menu ul li.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto
}
@media only screen and (min-width: 60em) {
    .main-header .account-menu ul li.logout {
        position: static;
        margin-top: 10px
    }
    .main-header .account-menu {
        width: 10.125rem;
        right: auto;
        bottom: auto;
        left: 20px;
        top: 48px;
        margin-top: 8px;
        border-radius: 3px;
        box-shadow: 0 1px 8px rgba(0, 0, 0, .25)
    }
    .main-header .account-menu:before {
        content: "";
        position: absolute;
        top: -.5rem;
        left: .9375rem;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid #FFF
    }
    .main-header .account-menu .nav-panel-title {
        padding-left: 0;
        height: auto
    }
    .main-header .account-menu h4 {
        text-align: left
    }
    .main-header .account-menu a.close-button {
        display: none
    }
    .extra-nav-wrapper .extra-tab-bar ul li {
        line-height: 1.25rem
    }
}
.search .ti-suggest-results {
    background-color: #FFF;
    border: 1px solid #AFAFAF
}
.search .ti-suggest-results div {
    border-bottom: 1px solid #FFF;
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-size: 1rem
}
.search .ti-suggest-results div.ti-suggest-selected-row {
    border-color: #232323
}
.search .ti-suggest-results div.ti-suggest-focussed-row {
    border-color: #AFAFAF
}
.extra-nav-wrapper {
    background: #FFF;
    position: relative;
    z-index: 500
}
.extra-nav-wrapper .extra-tab-bar {
    background: #FFF
}
.extra-nav-wrapper .extra-tab-bar ul {
    margin: 0;
    padding: .3125rem 0 .125rem;
    text-align: right
}
.extra-nav-wrapper .extra-tab-bar ul li {
    list-style: none;
    display: inline-block;
    margin-right: .9375rem;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-bottom: .125rem
}
.extra-nav-wrapper .extra-tab-bar ul li a {
    color: #AFAFAF
}
.extra-nav-wrapper .extra-tab-bar ul li a:hover,
.main-header {
    color: #232323
}
.header-higher .icon-menu:before {
    content: ""
}
.header-higher .icon-heart:before {
    content: ""
}
.header-higher .icon-shopping-bag:before {
    content: ""
}
.header-higher .icon-profile-1:before {
    content: ""
}
.header-higher .icon-gear:before {
    content: ""
}
.header-higher .icon-cursor:before {
    content: ""
}
.header-higher .icon-headphones-mic:before {
    content: ""
}
.header-higher .icon-refresh:before {
    content: ""
}
.header-higher .icon-search:before {
    content: ""
}
.header-higher .icon-cancel:before {
    content: ""
}
.header-higher .icon-loggedin:before {
    content: ""
}
.header-higher .icon-exit:before {
    content: ""
}
.header-higher .icon-exit-door:before {
    content: ""
}
.header-higher .icon-truck:before {
    content: ""
}
.header-higher .icon-question-circle:before {
    content: ""
}
.header-higher .icon-plus:before {
    content: ""
}
.header-higher .icon-minus:before {
    content: ""
}
.header-higher .icon-notebook:before {
    content: ""
}
.header-higher .icon-money:before {
    content: ""
}
.main-header {
    position: relative;
    z-index: 500;
    width: 100%;
    background: #232323;
    line-height: 1em
}
.main-header img {
    min-height: 1px
}
.main-header .nav-panel-title {
    height: 48px;
    border-bottom: 1px solid #F5F5F5
}
@media only screen and (min-width: 48em) {
    .main-header .nav-panel-title {
        height: 56px
    }
}
.main-header .nav-panel-title .close-button {
    float: left;
    width: 48px;
    height: 48px;
    line-height: 48px;
    vertical-align: middle;
    text-align: center;
    font-size: 2.5rem;
    color: #464646;
    position: relative;
    z-index: 10;
    margin-right: -48px
}
.main-header .nav-panel-title .close-button:hover {
    color: #42ABC8
}
@media only screen and (min-width: 48em) {
    .main-header .nav-panel-title .close-button {
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 3rem;
        margin-right: -56px
    }
}
.main-header .close-navigation,
.main-header .topbar {
    height: 33px
}
.main-header .topbar {
    padding: 13px 88px 0;
    font-size: 1.25rem;
    line-height: 1em;
    vertical-align: middle
}
@media only screen and (min-width: 48em) {
    .main-header .close-navigation,
    .main-header .topbar {
        height: 46px
    }
    .main-header .topbar {
        padding-top: 22px;
        font-size: 1.5rem;
        line-height: 1em
    }
}
.main-header .main-header-inner.row {
    position: static
}
@media only screen and (min-width: 60em) {
    .main-header .main-header-inner.row {
        position: relative
    }
}
.main-header .logo {
    display: inline-block;
    max-width: 100%;
    width: 7.5rem;
    line-height: 1.25rem;
    vertical-align: middle
}
.main-header .logo .image,
.main-header .logo img {
    display: block;
    max-height: 20px;
    vertical-align: middle
}
@media only screen and (min-width: 48em) {
    .main-header .logo {
        width: 10rem;
        line-height: 1.5rem
    }
    .main-header .logo .image,
    .main-header .logo img {
        max-height: 24px
    }
}
.main-header .department-links,
.main-header .secondary-links {
    margin: 0
}
.main-header .department-links li,
.main-header .secondary-links li {
    display: inline-block
}
.main-header .department-links li a,
.main-header .secondary-links li a {
    color: #fff;
    font-family: "Proxima Nova"
}
.main-header .close-navigation {
    display: none;
    line-height: 20px;
    border: none
}
.main-header .close-navigation a.close-button {
    color: #fff
}
@media only screen and (min-width: 48em) {
    .main-header .close-navigation {
        line-height: 24px
    }
}
.main-header .secondary-links {
    padding: 0 .5rem;
    height: 1em;
    font-size: 0
}
.main-header .secondary-links.left {
    margin-left: -5.5rem
}
.main-header .secondary-links.right {
    margin-right: -5.5rem
}
.main-header .secondary-links li {
    padding: 0 8px;
    font-size: 20px
}
.main-header .secondary-links a {
    position: relative;
    display: inline-block;
    vertical-align: middle
}
.main-header .secondary-links .icon {
    font-size: 1.25rem;
    line-height: 1em
}
.main-header .secondary-links .icon:before {
    vertical-align: top
}
.main-header .secondary-links .icon:hover {
    color: #42ABC8
}
.main-header .secondary-links .counter {
    display: block;
    position: absolute;
    top: -.25rem;
    right: -.5rem;
    background: #EF423C;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
    border-radius: 50%;
    font-size: .625rem
}
.main-header .secondary-links .counter .icon-busy {
    vertical-align: middle
}
.main-header .secondary-links .counter .icon-busy:before {
    -webkit-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-transform-origin: 50% 42%;
    -ms-transform-origin: 50% 42%;
    transform-origin: 50% 42%;
    content: "";
    color: #FFF;
    font-family: "Iconic Icons";
    vertical-align: middle;
    line-height: 1em;
    display: inline-block
}
.main-header .department-links li a:hover,
.main-header .department-links li.active a {
    color: #42ABC8
}
@media only screen and (min-width: 48em) {
    .main-header .secondary-links {
        font-size: 1.5rem;
        padding: 0 1.25rem
    }
    .main-header .secondary-links .icon {
        font-size: 1.5rem;
        line-height: 1em
    }
}
.main-header .department-links {
    text-transform: uppercase;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 0 1rem
}
.main-header .department-links::-webkit-scrollbar {
    display: none
}
@media only screen and (min-width: 48em) {
    .main-header .department-links {
        overflow-x: initial;
        white-space: normal;
        -webkit-overflow-scrolling: auto;
        padding: 0
    }
}
.main-header .department-links li a {
    font-size: .625rem;
    line-height: 1em;
    padding: .875rem .25rem;
    display: inline-block
}
@media only screen and (min-width: 48em) {
    .main-header .department-links li a {
        font-size: .8125rem;
        line-height: 1em;
        padding: 18px .5rem
    }
}
@media only screen and (max-width: 47.9375em) {
    .main-header .department-links::-webkit-scrollbar {
        width: 0!important
    }
}
@media only screen and (min-width: 60em) {
    .main-header .department-links {
        font-size: 11px;
        line-height: 1em
    }
}
.main-header .department,
.main-header .search-wrapper {
    display: none
}
.main-header .department.active,
.main-header .search-wrapper.active {
    display: block
}
.main-header .departments {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4.4375rem;
    left: 0;
    bottom: 0;
    overflow: auto;
    width: 100%;
    background: #FFF;
    color: #232323;
    display: none;
    z-index: -1;
    box-shadow: 0 1px 50px rgba(0, 0, 0, .15);
    font-size: .75rem
}
.main-header .departments .department ul.navlist li a:hover,
.main-header .departments .department ul.navlist li.all-link a:hover,
.main-header .departments .department ul.navlist li.new-link a:hover,
.main-header .departments .department ul.navlist li.sale-link a:hover {
    color: #42ABC8
}
.main-header .departments .department-wrapper {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    margin: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow-x: -moz-scrollbars-none;
    z-index: 1001
}
.main-header .departments .department>.row>.col {
    border-bottom: 1px solid #f0f0f0
}
.main-header .departments .department>.row>.col:last-child {
    border-bottom: none
}
.main-header .departments .department .products .spinner {
    margin: 20% auto
}
.main-header .departments .department .new-arrivals-products {
    display: block;
    padding: 0;
    margin: 0 -10px
}
.main-header .departments .department .new-arrivals-products:after,
.main-header .departments .department .new-arrivals-products:before {
    content: " ";
    display: table
}
.main-header .departments .department .new-arrivals-products:after {
    clear: both
}
.main-header .departments .department .new-arrivals-products>li {
    display: block;
    float: left;
    height: auto;
    list-style: none;
    padding: 0 10px 20px;
    width: 33.33333%
}
.main-header .departments .department .new-arrivals-products>li:nth-of-type(1n) {
    clear: none
}
.main-header .departments .department .new-arrivals-products>li:nth-of-type(3n+1) {
    clear: both
}
.main-header .departments .department .new-arrivals-products .product {
    margin: 0
}
.main-header .departments .department ul.navlist {
    margin: 0;
    padding: 0;
    line-height: 1em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
}
.main-header .departments .department ul.navlist li {
    margin: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid
}
.main-header .departments .department ul.navlist li a {
    padding: .5rem 0;
    display: block;
    font-size: .875rem
}
@media only screen and (min-width: 48em) {
    .main-header .departments .department ul.navlist li a {
        font-size: 1rem
    }
}
.main-header .departments .department ul.navlist li.all-link a,
.main-header .departments .department ul.navlist li.new-link a,
.main-header .departments .department ul.navlist li.sale-link a {
    font-family: "Proxima Nova Bold"
}
.main-header .departments .department ul.navlist li.sale-link a {
    color: #EF423C
}
.main-header .departments h4 a:hover,
.main-header .departments header a:hover {
    color: #42ABC8
}
.main-header .departments .department a:hover img {
    opacity: .8
}
.main-header .departments header {
    height: 40px;
    line-height: 39px;
    border-bottom: 1px solid #f0f0f0;
    background: 0 0;
    text-align: center
}
.main-header .departments h4,
.main-header .departments header a {
    line-height: 1em;
    font-family: "Proxima Nova Bold";
    text-transform: uppercase
}
.main-header .departments header .moving-tabs {
    position: relative;
    display: inline-block;
    text-align: center
}
.main-header .departments header .moving-tabs:before {
    height: .1875rem;
    position: absolute!important;
    bottom: -.0625rem;
    left: 0;
    content: "";
    background: #42ABC8;
    transition: all .3s ease-in-out
}
.main-header .departments header a {
    display: inline-block;
    font-size: 10px;
    padding: 8px 13px;
    vertical-align: middle
}
.main-header .departments.female header .moving-tabs:before {
    left: 0;
    width: 55%
}
.main-header .departments.male header .moving-tabs:before {
    left: 55%;
    width: 45%
}
.main-header .departments h4 {
    font-size: 13px;
    margin-top: 0
}
.main-header .departments p {
    margin: 0
}
@media only screen and (min-width: 48em) {
    .main-header .departments header a {
        font-size: 13px
    }
    .main-header .departments h4 {
        font-size: 15px;
        line-height: 1em
    }
    .main-header .departments {
        font-size: .875rem;
        top: 95px
    }
}
@media only screen and (min-width: 60em) and (min-width: 48em) {
    .main-header .departments .department .categories h4 {
        margin-bottom: .5rem
    }
}
@media only screen and (min-width: 60em) {
    .main-header .departments {
        top: 100%;
        bottom: auto
    }
    .main-header .departments .department-wrapper,
    .main-header .departments footer {
        position: static
    }
    .main-header .departments .department {
        padding: 48px 0
    }
    .main-header .departments .department .col-1 ul.navlist {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1
    }
    .main-header .departments .department>.row {
        overflow: hidden
    }
    .main-header .departments .department>.row>.col {
        border: none;
        border-right: 1px solid #f0f0f0;
        margin-bottom: -99999px;
        padding-bottom: 99999px
    }
    .main-header .departments .department>.row>.col:last-child {
        border-right: none
    }
}
.main-header .user-initials {
    background: #FFF;
    color: #232323;
    letter-spacing: 0;
    min-width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .5625rem;
    text-transform: uppercase;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    display: inline-block
}
@media only screen and (min-width: 48em) {
    .main-header .user-initials {
        min-width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        font-size: .75rem
    }
}
.main-header a:hover .user-initials {
    background: #42ABC8
}
.main-header .brand .image-frame {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 60%;
    margin-bottom: 1rem
}
.main-header .brand .image-frame .img,
.main-header .brand .image-frame .media,
.main-header .brand .image-frame img,
.main-header .brand .image-frame video {
    width: 100%;
    height: auto;
    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: inherit
}
.main-header .brand .image-frame .emerge {
    transition: filter .15s linear, -webkit-filter .15s linear, opacity .15s linear
}
.main-header .brand .image-frame .emerge-prepare {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    transition: all 0s linear
}
.main-header .search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 10
}
@media only screen and (min-width: 60em) {
    .main-header .search-wrapper {
        position: static;
        background: 0 0;
        padding: 1.375rem 0 0;
        height: 95px
    }
    .main-header .search-wrapper #main-search-form {
        margin: 0 auto;
        width: 37.5rem;
        border: none
    }
    .main-header .search-wrapper a.close-button {
        color: #FFF;
        width: 48px;
        height: 48px;
        line-height: 48px;
        font-size: 2.5rem;
        margin-right: 0
    }
}
.main-header .search-wrapper .field {
    position: relative
}
.main-header .search-wrapper .field input {
    width: 100%;
    height: 2.9375rem;
    font-size: 1rem;
    box-shadow: none;
    padding: 1rem 3rem;
    margin-bottom: 0;
    border: none
}
@media only screen and (min-width: 48em) {
    .main-header .search-wrapper .field input {
        padding: 1rem 3.5rem;
        height: 3.4375rem
    }
}
@media only screen and (min-width: 60em) {
    .main-header .search-wrapper .field input {
        width: 552px;
        margin-left: 3rem;
        padding: 1rem 3rem 1rem 1rem;
        height: 3rem;
        border-radius: 2px;
        border: none
    }
}
.main-header .search-wrapper .field input:focus {
    border-color: #F5F5F5;
    background: #FFF
}
.main-header .search-wrapper .field .clear {
    position: absolute;
    top: 14px;
    right: 14px;
    background: #D2D2D2;
    height: 1em;
    width: 1em;
    line-height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    margin: 0
}
@media only screen and (min-width: 48em) {
    .main-header .search-wrapper .field .clear {
        top: 18px;
        right: 14px
    }
}
.main-header .search-wrapper .field .clear:before {
    content: "";
    font-family: "Iconic Icons";
    color: #fff
}
.main-footer .row .columns .list-heading,
.main-header .search-wrapper .field .ti-suggest-results .ti-suggest-result .ti-search-term {
    font-family: "Proxima Nova Bold"
}
.main-header .search-wrapper .field .ti-suggest-results {
    font-size: .75rem
}
.main-header .search-wrapper .field .ti-suggest-results .ti-suggest-result {
    color: #464646;
    border-bottom: 1px solid #F5F5F5;
    cursor: pointer;
    padding: .875rem 1rem
}
.main-header .search-wrapper .field .ti-suggest-results .ti-suggest-result.ti-suggest-focussed-row {
    color: #42ABC8
}
.main-header .search-wrapper .field .ti-suggest-results .ti-suggest-result:last-child {
    border-bottom: 0
}
@media only screen and (min-width: 48em) {
    .main-header .search-wrapper .field .ti-suggest-results .ti-suggest-result {
        padding: 1rem
    }
    .main-header .search-wrapper .field .ti-suggest-results {
        font-size: .875rem
    }
    .main-footer .footer-newsletter {
        min-height: 50px
    }
}
@media only screen and (min-width: 60em) {
    .main-header .search-wrapper .field .clear {
        top: 14px;
        right: 14px
    }
    .main-header .search-wrapper .field .ti-suggest-results {
        position: absolute;
        top: 100%;
        left: 48px;
        right: 0;
        background: #FFF;
        z-index: 9999;
        overflow: hidden;
        margin: .5rem 0 0;
        border-radius: .125rem;
        border: 1px solid #D2D2D2
    }
}
.main-header .search-wrapper .field .no-results {
    text-align: center;
    padding: 25% 25% 0;
    color: #D2D2D2;
    line-height: 1.4em
}
.main-header #appLink {
    margin-top: 2rem
}
.navigation-active .main-header {
    position: absolute;
    top: 0;
    bottom: 0
}
.navigation-active .main-header .close-navigation,
.navigation-active .main-header .departments {
    display: block;
    overflow-y: hidden
}
.navigation-active .main-header .topbar {
    display: none
}
@media only screen and (min-width: 60em) {
    .navigation-active .main-header {
        position: relative;
        bottom: auto
    }
    .navigation-active .main-header .close-navigation {
        display: none
    }
    .navigation-active .main-header .topbar {
        display: block
    }
}
.navigation-active .main-footer,
.navigation-active .main-section {
    display: none
}
.navigation-active .col {
    padding: 20px 0;
    margin: 0 .9375rem
}
@media only screen and (min-width: 60em) {
    .navigation-active .main-footer,
    .navigation-active .main-section {
        display: block
    }
    .navigation-active .col {
        float: left;
        padding: 0 40px;
        margin: 0;
        width: 100%
    }
    .navigation-active .col-1 {
        width: 20%
    }
    .navigation-active .col-2 {
        width: 40%
    }
    .navigation-active .col-3 {
        width: 60%
    }
    .navigation-active .col-4 {
        width: 80%
    }
}
.app-form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}
.edits div .ti-content-tile .landscape .head-text,
.promo div .ti-content-tile .landscape .head-text {
    width: auto;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    padding: 1rem;
    margin: 0;
    display: block
}
.ti-content-tile figure figcaption.head-text .description,
.ti-content-tile figure figcaption.head-text .title {
    white-space: normal
}
.icon-facebook:before {
    content: ""
}
.icon-twitter:before {
    content: ""
}
.icon-pinterest:before {
    content: ""
}
.icon-googleplus:before {
    content: ""
}
.icon-instagram:before {
    content: ""
}
.icon-youtube:before {
    content: ""
}
.icon-minus:before {
    content: ""
}
.icon-plus:before {
    content: ""
}
.main-footer {
    color: #FFF;
    background: #232323
}
.main-footer .third-row {
    color: #232323;
    background: #F5F5F5;
    display: block
}
.main-footer .third-row>.row>.column,
.main-footer .third-row>.row>.columns {
    margin: 24px 0 0
}
.main-footer .third-row>.row>.column:last-child,
.main-footer .third-row>.row>.columns:last-child {
    margin: 24px 0
}
.main-footer .third-row .columns img {
    width: 6.25rem;
    max-width: 100%
}
.main-footer .row {
    max-width: 80rem
}
.main-footer .row .columns hr {
    border: solid #464646;
    margin: 0 auto;
    border-width: .0625rem 0 0;
    max-width: 80rem
}
.main-footer .row .columns .list-heading {
    color: #FFF;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: .15em;
    margin-bottom: .6875rem
}
.main-footer .row .columns ul {
    margin-left: 0;
    margin-bottom: 0
}
.main-footer .row .columns ul li {
    font-family: "Proxima Nova";
    list-style-type: none;
    margin-bottom: .3125rem;
    font-size: .75rem
}
.main-footer .row .columns ul li a {
    color: rgba(255, 255, 255, .7);
    display: block
}
.main-footer .row .columns ul li a:hover {
    color: #FFF
}
.main-footer .row .columns ul.first {
    margin-bottom: 0
}
.main-footer .row .columns p {
    font-size: .75rem
}
.main-footer .row.first-row,
.main-footer .row.second-row {
    background: #232323;
    padding: 2.5rem 0
}
.main-footer .subtitle {
    font-family: "Proxima Nova Bold";
    font-size: .9375rem;
    line-height: 1.40625rem;
    margin: .1875rem 0 .9375rem
}
.main-footer .newsletter-widget .newsletter-gender {
    float: left;
    width: 30%;
    position: relative
}
.main-footer .newsletter-widget .newsletter-gender select {
    font-family: "Proxima Nova Bold";
    color: #464646;
    font-size: .75rem;
    border: none;
    border-radius: .125rem 0 0 .125rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: ''
}
.main-footer .newsletter-widget .newsletter-gender select::-ms-expand {
    display: none
}
.main-footer .newsletter-widget .newsletter-gender select:focus,
.main-footer .newsletter-widget .newsletter-gender select:hover {
    background-color: #FFF
}
.main-footer .newsletter-widget .newsletter-gender:after {
    font-family: "Iconic Icons";
    font-size: 10px;
    content: "\e644";
    position: absolute;
    right: 5px;
    top: 12px;
    display: block;
    background: #fff;
    color: #42ABC8
}
.main-footer .newsletter-widget .newsletter-email {
    float: left;
    width: 70%;
    position: relative
}
.main-footer .newsletter-widget .newsletter-email input {
    border: none;
    font-size: .75rem;
    border-radius: 0 .125rem .125rem 0;
    box-shadow: none
}
.main-footer .newsletter-widget .newsletter-email:after {
    content: "";
    position: absolute;
    height: 20px;
    width: .0625rem;
    background: #F5F5F5;
    left: 0;
    top: .5rem
}
.main-footer .newsletter-widget .errors {
    display: inline-block;
    float: left;
    width: 100%;
    margin-top: -1rem
}
.main-footer .newsletter-widget .errors .error {
    padding: .5rem;
    font-size: .75rem;
    background: #EF423C
}
.main-footer .followUs .icon,
.main-footer .topBrands .subtitle i {
    font-size: 1.875rem;
    line-height: 2.8125rem
}
.main-footer .newsletter-submit {
    padding-left: 0
}
.main-footer .followUs .row {
    width: 9.375rem
}
.main-footer .iconic-app a {
    display: block;
    margin: 0 0 .9375rem;
    height: 2.5rem
}
.main-footer .topBrands .subtitle {
    padding: 0 .9375rem
}
.main-footer .topBrands .subtitle i {
    line-height: 1rem;
    vertical-align: top
}
.main-footer .legalTerms {
    background: #F5F5F5;
    padding: 1.25rem 0
}
.main-footer .legalTerms div {
    font-family: "Proxima Nova Light";
    text-align: center
}
.main-footer .legalTerms .copyrights {
    padding: 1.25rem 0;
    font-size: .75rem;
    line-height: 1.125rem
}
.main-footer .legalTerms .copyrights .all-rights-reserved {
    display: block
}
@media only screen and (min-width: 48em) {
    .main-footer .legalTerms .copyrights .all-rights-reserved {
        display: inline
    }
}
.nosto-product-carousel .ribbon,
body.hide-content #top-page {
    display: none
}
ul,
ul.undecorated {
    list-style: none
}
#messageBar .message {
    margin: .3125rem 0;
    border-radius: .3125rem;
    word-wrap: break-word
}
#messageBar .message p {
    padding: .625rem .3125rem;
    margin: 0
}
#messageBar .message.success {
    color: #43894E;
    background: #DCF8BD;
    border: 1px solid #B9F17B
}
#messageBar .message.error,
#messageBar .message.warning {
    color: #B94A48;
    background: #FFAFA0;
    border: 1px solid #EF423C
}
#page {
    position: relative;
    padding-bottom: 1rem
}
.ti-block-ui {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .1)
}
.ti-block-ui.content-only {
    z-index: 100
}
.nowrap {
    white-space: nowrap
}
.ajax-progress {
    cursor: progress
}
img.unveil {
    min-width: 1px;
    min-height: 1px
}
#gts-c {
    z-index: 1!important
}
#checkout-shipping-step .row.delivery-options,
.delivery-options {
    font-size: 1rem
}
#checkout-shipping-step .row.delivery-options .delivery-options-intro,
.delivery-options .delivery-options-intro {
    color: #AFAFAF
}
#checkout-shipping-step .row.delivery-options .delivery-option-list,
.delivery-options .delivery-option-list {
    list-style: none;
    margin-left: 0
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li,
.delivery-options .delivery-option-list li {
    margin-bottom: .625rem
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option,
.delivery-options .delivery-option-list li .shipping-option {
    padding-left: 1.25rem
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option strong,
.delivery-options .delivery-option-list li .shipping-option strong {
    font-family: "Proxima Nova Bold";
    font-weight: 400
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option .columns:first-child,
.delivery-options .delivery-option-list li .shipping-option .columns:first-child {
    padding-right: 0
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option .columns:last-child,
.delivery-options .delivery-option-list li .shipping-option .columns:last-child {
    padding-left: 0
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option .details,
.delivery-options .delivery-option-list li .shipping-option .details {
    font-size: .75rem
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option p,
.delivery-options .delivery-option-list li .shipping-option p {
    margin-bottom: 0;
    line-height: 1.125rem
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option p span.named,
.delivery-options .delivery-option-list li .shipping-option p span.named {
    display: block;
    font-family: "Proxima Nova";
    color: #232323
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li .shipping-option .shipping-cost .ti-label,
.delivery-options .delivery-option-list li .shipping-option .shipping-cost .ti-label {
    min-width: 3.75rem
}
#checkout-shipping-step .row.delivery-options .delivery-option-list li:last-child:before,
.delivery-options .delivery-option-list li:last-child:before {
    content: ""
}
#checkout-shipping-step .row.delivery-options .small-text,
#checkout-shipping-step .row.delivery-options p.small-text,
.delivery-options .small-text,
.delivery-options p.small-text {
    font-size: .75rem;
    line-height: 1.125rem;
    color: #AFAFAF
}
.delivery-options-holder .shipping-option {
    margin-bottom: .125rem
}
.change-delivery-location {
    margin-left: 1em
}
.delivery-accuracy .pre-postfix {
    margin-bottom: .3125rem;
    border-radius: 0!important
}
.delivery-accuracy .delivery-accuracy-form-subtitle,
.delivery-accuracy .delivery-accuracy-form-title {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Proxima Nova Light";
    color: #464646
}
.delivery-accuracy .delivery-accuracy-form-subtitle {
    font-size: .875rem;
    line-height: 1.3125rem
}
.delivery-accuracy .delivery-options-intro {
    font-family: "Proxima Nova Light";
    font-size: .875rem;
    line-height: 1.3125rem;
    color: #464646!important
}
.delivery-accuracy .delivery-options-intro span {
    text-transform: uppercase
}
.delivery-accuracy .delivery-options-intro a {
    color: #232323;
    font-family: "Proxima Nova";
    font-size: .875rem;
    line-height: 1.3125rem
}
.delivery-accuracy .delivery-options-intro a:hover {
    color: #232323;
    text-decoration: underline
}
.delivery-accuracy .delivery-option-list li:before {
    content: "";
    font-family: "Iconic Icons"!important;
    font-weight: 400!important;
    text-transform: none!important;
    margin: -.4375rem 0 0 -.1875rem;
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.875rem
}
.twitter-typeahead {
    margin-bottom: 0;
    width: 100%
}
.twitter-typeahead input {
    margin-bottom: 0
}
.tt-dropdown-menu {
    background: #fff;
    border: 1px solid #D2D2D2;
    width: 100%
}
.tt-suggestions p {
    margin: 0
}
.tt-suggestion {
    border-bottom: 1px solid #D2D2D2;
    padding: .5em
}
.tt-suggestion:last-of-type {
    border: none
}
.tt-suggestion.tt-is-under-cursor {
    background: #f2f2f2
}
input.tt-hint[type=text] {
    margin-left: 10px;
    width: 100%;
    color: transparent
}
.parsley-error-list,
input.parsley-error {
    background-color: #faeeeb!important;
    border: 1px solid #EF423C
}
input.parsley-error {
    background: url(/images/raptor/checkout/icon-cross.png) 100% 50% no-repeat #faeeeb!important
}
select.parsley-error {
    background-image: none!important
}
.parsley-error-list {
    clear: both;
    font-size: 12px;
    line-height: 1.6;
    margin: 0 0 1.2em;
    padding: 5px 10px;
    list-style-type: none
}
.parsley-error-list li {
    font-size: 1em
}
.ui-tabs .ui-tabs-hide,
.ui-tabs-selected {
    display: none!important
}
.size-guide {
    position: relative
}
.size-guide .section-header {
    padding: 0 0 10px
}
.size-guide ul.main-tabs {
    position: absolute;
    top: -9px;
    top: -74px;
    right: 0
}
.size-guide .btn.tab a:active,
.size-guide .btn.tab a:hover {
    color: #eee!important
}
.size-guide table {
    margin-bottom: 0
}
.size-guide .sub-tabs .btn.tab {
    margin-left: 0
}
.sizeguide-content {
    margin-top: 14px
}
.sizeguide-content .sub-tabs {
    float: none;
    position: absolute;
    right: 0;
    top: 0
}
.size-guide .sub-tabs-content .sub-tabs {
    position: absolute;
    right: 0;
    top: -8px
}
.size-guide table td {
    padding: 6px 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 400!important
}
.sizeguide-content-text {
    position: relative
}
.size-guide .accordion-size-guide h3 {
    font-size: 16px;
    margin-bottom: 2px
}
.size-guide .accordion-size-guide h3 a {
    display: block;
    padding: 5px
}
.size-guide .accordion-size-guide table thead:first-child tr td {
    font-weight: 600
}
#baby-content-baby h3.first,
.size-guide #baby-content-baby .accordion-size-guide table thead:first-child tr {
    background-color: #CFEBF6
}
#baby-content-baby h3.second {
    background-color: #B7DEED
}
#baby-content-baby h3.forth {
    background-color: #90C3D8
}
#baby-content-child h3.first,
.size-guide #baby-content-child .accordion-size-guide table thead:first-child tr {
    background-color: #D1F2E1
}
#baby-content-child h3.second {
    background-color: #C3E9D2
}
#baby-content-child h3.third {
    background-color: #AFE1C4
}
#baby-content-child h3.forth {
    background-color: #90C3D8
}
#baby-content-teen h3.first,
.size-guide #baby-content-teen .accordion-size-guide table thead:first-child tr {
    background-color: #DAD4E0
}
#baby-content-teen h3.second {
    background-color: #CCC4D9
}
#baby-content-teen h3.third {
    background-color: #A0CDE0
}
#baby-content-teen h3.forth {
    background-color: #90C3D8
}
#men-content h3.first,
.size-guide #men-content .accordion-size-guide table thead:first-child tr {
    background-color: #ABCAE9
}
#men-content h3.second {
    background-color: #97BAE2
}
#men-content h3.third {
    background-color: #7CACDD
}
#men-content h3.forth {
    background-color: #68A2E2
}
#men-content h3.fifth {
    background-color: #4589DC
}
#curvy-content-main h3.first,
.size-guide #curvy-content .accordion-size-guide table thead:first-child tr {
    background-color: #EEB2BC
}
#curvy-content-main h3.second {
    background-color: #EDA1AE
}
#curvy-content-main h3.third {
    background-color: #EE8D9E
}
#curvy-content-main h3.forth {
    background-color: #ED7E91
}
#curvy-conten-maint h3.forth {
    background-color: #EC667E
}
#regular-content-main h3.first,
.size-guide #regular-content .accordion-size-guide table thead:first-child tr {
    background-color: #D7BCCD
}
#regular-content-main h3.second {
    background-color: #D6B3CB
}
#regular-content-main h3.third {
    background-color: #D6A8C5
}
#regular-content-main h3.forth {
    background-color: #D69CC2
}
#regular-content-main h3.fifth {
    background-color: #D686B9
}
.size-guide .accordion-size-guide table {
    width: 100%
}
.size-guide .accordion-size-guide table tr td:first-child {
    padding-left: 5px
}
.size-guide .accordion-size-guide table tr:nth-child(2n+2) {
    background-color: #F4F2F3
}
#baby-content-baby h3.third {
    background-color: #A0CDE0
}
#baby-content-baby h3.fourth {
    background-color: #90C3D8
}
.size-guide .size-image,
.size-guide .sizeguide-img {
    display: none
}
.size-guide .size-content {
    width: 100%
}
#loadingbar {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: 0;
    width: 1%;
    height: 2px;
    background: #42ABC8;
    border-radius: 1px;
    transition: all .5s ease-in-out
}
#loadingbar.left {
    left: 100%;
    right: 0;
    width: 100%
}
#loadingbar.up {
    left: 0;
    top: 100%;
    width: 5px;
    bottom: 0;
    height: 100%
}
#loadingbar.down {
    left: 0;
    width: 5px;
    height: 0
}
#loadingbar.waiting dd,
#loadingbar.waiting dt {
    -webkit-animation: pulse 2s ease-out 0s infinite;
    animation: pulse 2s ease-out 0s infinite
}
#loadingbar dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px, 90px, 14px, -6px)
}
#loadingbar dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px, 22px, 14px, 10px)
}
#loadingbar dd,
#loadingbar dt {
    position: absolute;
    top: 0;
    height: 2px;
    -ms-box-shadow: #b91f1f 1px 0 6px 1px;
    box-shadow: #B91F1F 1px 0 6px 1px;
    border-radius: 100%
}
#loadingbar.left dt {
    opacity: .6;
    width: 180px;
    left: -4px;
    clip: rect(-6px, 185px, 14px, 25px)
}
#loadingbar.left dd {
    opacity: .6;
    width: 20px;
    left: 0;
    margin: 0;
    clip: rect(-6px, 22px, 14px, 0)
}
#loadingbar.down dd,
#loadingbar.down dt,
#loadingbar.up dd,
#loadingbar.up dt {
    left: -5px;
    width: 10px;
    right: auto
}
#loadingbar.left dd,
#loadingbar.left dt {
    top: 0;
    height: 2px
}
#loadingbar.down dt {
    opacity: .6;
    height: 180px;
    top: auto;
    bottom: -47px;
    clip: rect(-6px, 20px, 130px, -6px)
}
#loadingbar.down dd {
    opacity: .6;
    height: 20px;
    top: auto;
    bottom: 0;
    clip: rect(-6px, 22px, 20px, 10px);
    margin: 0
}
#loadingbar.up dt {
    opacity: .6;
    height: 180px;
    bottom: auto;
    top: -10px;
    clip: rect(13px, 20px, 190px, -6px)
}
#loadingbar.up dd {
    opacity: .6;
    height: 20px;
    bottom: auto;
    top: 0;
    clip: rect(-6px, 22px, 25px, 10px);
    margin: 0
}
@keyframes pulse {
    100%, 30% {
        opacity: .6
    }
    60% {
        opacity: 0
    }
}
@-webkit-keyframes pulse {
    100%, 30% {
        opacity: .6
    }
    60% {
        opacity: 0
    }
}
#content {
    padding-left: .5rem;
    padding-right: .5rem;
    margin: 0 auto
}
#content.collapse {
    margin: 0
}
@media only screen and (min-width: 48em) {
    #content,
    #content .column,
    #content .columns {
        padding-left: 1rem;
        padding-right: 1rem
    }
    #content .row.collapse .column,
    #content .row.collapse .columns {
        padding-left: 0;
        padding-right: 0
    }
    #content .row .row {
        margin-left: -1rem;
        margin-right: -1rem
    }
    #content .row .row.collapse {
        margin: 0
    }
}
#page {
    padding-top: 0
}
.icon-arrow-right:before {
    content: ""
}
.icon-arrow-left:before {
    content: ""
}
.icon-cancel:before {
    content: ""
}
#add-to-bag-popup-content .modal-congrats {
    font-size: 1.75rem;
    margin-bottom: 1.25rem
}
#add-to-bag-popup-content .modal-buttons .button {
    margin-bottom: 1rem
}
/*.product-gallery {
    margin-left: -16px;
    margin-right: -16px
}*/
.product-gallery .main-image-frame {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 21px;
}
.product-gallery .main-image-frame .img,
.product-gallery .main-image-frame .media,
.product-gallery .main-image-frame img,
.product-gallery .main-image-frame video {
    width: 100%;
    height: auto;
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: absolute;
    max-width: inherit
}
.product-gallery .main-image-frame .emerge {
    transition: filter .15s linear, -webkit-filter .15s linear, opacity .15s linear
}
.product-gallery .main-image-frame .emerge-prepare {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    transition: all 0s linear
}
.product-gallery .image-frame {
    display: block;
    position: relative;
    overflow: hidden; /* min-height: 507px;*/
 /*   padding-bottom: 127.92642%;*/
    background: #fff;
}
.product-gallery .image-frame .img,
.product-gallery .image-frame .media,
.product-gallery .image-frame img,
.product-gallery .image-frame video {
    width: 100%;
    height: auto;
    left:0%;
    
    right: auto;
    top: 0;
    bottom: auto;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: absolute;
    max-width: inherit
}

.product-gallery .image-frame .emerge {
    transition: filter .15s linear, -webkit-filter .15s linear, opacity .15s linear
}
.product-gallery .image-frame .emerge-prepare {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    transition: all 0s linear
}
.product-gallery .image-wrapper:nth-child(1n+2) {
    display: none
}
@media screen and (min-width: 1295px) {
    .product-gallery .main-image-frame {
        padding-bottom: 16px;
    }
    .product-gallery .image-wrapper {
        width: 50%;
        float: left
    }
    .product-gallery .image-wrapper:nth-child(1n+2) {
        display: block
    }
    .product-gallery .image-wrapper:nth-child(1n+3) {
        display: none
    }
    .product-gallery .owl-item .image-wrapper {
        width: 100%;
        float: none
    }
}
.product-gallery .product-more-views {
    /*overflow-y: hidden;*/
    padding-right: 1.25px!important
}
.product-gallery .product-more-views .thumbnail-shadow {
    cursor: pointer;
    display: block;
    margin-bottom: 1px;
  /*  overflow: hidden*/
}
@media only screen and (min-width: 80em) {
    .product-gallery .product-more-views {
       /* height:38.188rem;*/
        transition: max-height .1s linear
    }
    /*.product-gallery .product-more-views .thumbnail-shadow:hover {
        max-height: 88px!important
    }*/
    .product-gallery .product-more-views .thumbnail-shadow {
        transition: max-height .1s linear
    }
    .product-gallery .product-more-views.thumb-4 .thumbnail-shadow {
        max-height: 119.75px
    }
    .product-gallery .product-more-views.thumb-5 .thumbnail-shadow {
        max-height: 95.6px
    }
    .product-gallery .product-more-views.thumb-6 .thumbnail-shadow {
        max-height: 79.5px
    }
    .product-gallery .product-more-views.thumb-7 .thumbnail-shadow {
        max-height: 68px
    }
    .product-gallery .product-more-views.thumb-8 .thumbnail-shadow {
        max-height: 59.38px
    }
    .product-gallery .product-more-views.thumb-9 .thumbnail-shadow {
        max-height: 52.67px
    }
    .product-gallery .product-more-views.thumb-10 .thumbnail-shadow {
     /*   max-height: 47.3px*/
             max-width: 100px; float: left;margin-right: 18px;
    width: 100%;
    }
    
   .product-gallery .product-more-views.thumb-10 .thumbnail-shadow:nth-of-type(6){ margin-right: 0;}
    .product-gallery .product-more-views.thumb-4:hover .thumbnail-shadow {
        max-height: 130.33px
    }
    .product-gallery .product-more-views.thumb-5:hover .thumbnail-shadow {
        max-height: 97.5px
    }
    .product-gallery .product-more-views.thumb-6:hover .thumbnail-shadow {
        max-height: 77.8px
    }
    .product-gallery .product-more-views.thumb-7:hover .thumbnail-shadow {
        max-height: 64.67px
    }
    .product-gallery .product-more-views.thumb-8:hover .thumbnail-shadow {
        max-height: 55.29px
    }
    .product-gallery .product-more-views.thumb-9:hover .thumbnail-shadow {
        max-height: 48.25px
    }
  /*  .product-gallery .product-more-views.thumb-10:hover .thumbnail-shadow {
        max-height: 42.78px
    }*/
}
#product-details .brand-logo {
    width: 6.25rem
}
#product-details .brand-logo a {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 80%
}
#product-details .brand-logo a .img,
#product-details .brand-logo a .media,
#product-details .brand-logo a img,
#product-details .brand-logo a video {
    width: 100%;
    height: auto;
    left: 50%;
    right: auto;
    top: 50%;
    bottom: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: inherit
}
#product-details .brand-logo a .emerge {
    transition: filter .15s linear, -webkit-filter .15s linear, opacity .15s linear
}
#product-details .brand-logo a .emerge-prepare {
    -webkit-filter: blur(30px);
    filter: blur(30px);
    opacity: 0;
    transition: all 0s linear
}
#product-details h1.product-name {
    margin: 0;
    font-size: 1.5rem
}
#product-details .row {
    margin-bottom: .5rem
}
@media only screen and (min-width: 48em) {
 
    .product-gallery {
        margin-left: 0;
        margin-right: 0
    }
    #product-details .row {
        margin-bottom: 1rem
    }
}
@media all and (max-width:1280px){ 
    .product-gallery .product-more-views.thumb-10 .thumbnail-shadow {
    max-width: 13.1%!important;}
    .product-gallery .image-frame .img, .product-gallery .image-frame .media, .product-gallery .image-frame img, .product-gallery .image-frame video{ width: 100%; left: 0;}
}
#product-details .row.label {
    margin: 0
}
#product-details .price-special {
    color: #EF423C
}
#product-details .price-before {
    color: #AFAFAF;
    font-size: .875rem
}
#product-details .activity {
    font-family: "Proxima Nova Bold";
    text-transform: capitalize
}
#product-details .fit {
    line-height: .8125rem
}
.fullsized {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 999
}
.fullsized.busy {
    background: url(/images/raptor/lib/loading.gif) 50% 50% no-repeat #fff
}
.fullsized img {
    display: block;
    margin: 0 auto
}
.fullsized .prev {
    left: -1.5625rem
}
.fullsized .next {
    right: 1.25rem
}
.fullsized .next,
.fullsized .prev {
    position: absolute;
    top: 40%;
    display: block;
    width: 32px;
    height: 126px;
    font-size: 5rem;
    line-height: 7.5rem
}
.fullsized .close {
    right: 0;
    position: absolute;
    top: 0;
    display: block;
    background: 0 0;
    font-size: 3.75rem;
    line-height: 3.75rem
}
#main-image .show-for-xlarge-up li img {
    height: 27.75rem;
    display: none
}
#main-image .show-for-xlarge-up li:first-child img {
    display: block
}
.item-not-available {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: .3125rem;
    font-family: "Proxima Nova Light"
}
.alternative-urls {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5625rem
}
.alternative-urls a {
    text-decoration: none;
    color: #42ABC8
}
.product-cpr {
    color: #FF8E4D
}
.size-guide-link,
.ti-size-dropdown .f-dropdown a.size-guide-link {
    color: #42ABC8;
    text-decoration: none;
    font-size: .875rem;
    line-height: .875rem;
    letter-spacing: initial;
    font-weight: 700
}
.size-guide-link:hover,
.ti-size-dropdown .f-dropdown a.size-guide-link:hover {
    color: #42ABC8;
    text-decoration: none
}
.size-guide-link:after,
.ti-size-dropdown .f-dropdown a.size-guide-link:after {
    content: "";
    font-family: "Iconic Icons"!important;
    font-weight: 400!important;
    text-transform: none!important;
    line-height: 1;
    font-size: .875rem;
    vertical-align: middle
}
.size-guide-wrapper {
    padding-left: 0!important
}
.size-guide-wrapper.spino {
    margin-top: .625rem
}
.reveal-modal .size-guide {
    height: 95vh;
    overflow-y: scroll
}
@media only screen and (min-width: 48em) {
    .reveal-modal .size-guide {
        height: auto;
        overflow: auto
    }
}
.product-gallery .product-more-views.thumb-10 .thumbnail-shadow {
    float: left;
    margin-right: 18px;
    max-width: 14.1%;
    width: 100%;
}
.product-gallery .product-more-views.thumb-10 .thumbnail-shadow:nth-of-type(6) {
    margin-right: 0;
}
#main-image .owl-pagination.ng-scope {
    display: none;
}