
/* ----------------------------------------------------------------
External Font
-----------------------------------------------------------------*/
@font-face {
font-family: 'proxima_nova_rgregular';
src: url("fonts/proximanova-regular-webfont.eot");
src: url("fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
url("fonts/proximanova-regular-webfont.woff2") format("woff2"),
url("fonts/proximanova-regular-webfont.woff") format("woff"),
url("fonts/proximanova-regular-webfont.ttf") format("truetype"),
url("fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_nova_rgbold';
src: url('fonts/proximanova-bold-webfont.eot');
src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
url('fonts/proximanova-bold-webfont.woff') format('woff'),
url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_novaextrabold';
src: url('fonts/proximanova-extrabold-webfont.eot');
src: url('fonts/proximanova-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
url('fonts/proximanova-extrabold-webfont.woff') format('woff'),
url('fonts/proximanova-extrabold-webfont.ttf') format('truetype'),
url('fonts/proximanova-extrabold-webfont.svg#proxima_novaextrabold') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_novalight';
src: url('fonts/proximanova-light-webfont.eot');
src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/proximanova-light-webfont.woff2') format('woff2'),
url('fonts/proximanova-light-webfont.woff') format('woff'),
url('fonts/proximanova-light-webfont.ttf') format('truetype'),
url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'proxima_novasemibold';
src: url('fonts/proximanova-semibold-webfont.eot');
src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
url('fonts/proximanova-semibold-webfont.woff') format('woff'),
url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
url('fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
font-weight: normal;
font-style: normal;
}
/* Webkit */
::-webkit-input-placeholder { color: #999; }

/* Firefox 4-18 */
:-moz-placeholder { color: #999; }

/* Firefox 19+ */
::-moz-placeholder { color: #444; }

/* IE10+ */
*:-ms-input-placeholder {color: #999!important;}

html {width: 100%;}
.clr {clear: both;}
body{width: 100%;font-family: 'open sans', sans-serif;}

h5,
h6 { font-weight: bold; }
body{ -webkit-font-smoothing: antialiased;}
select::-ms-expand{display:none; }
select{ -webkit-appearance:none;}
dl, dt, dd, ol, ul, li {	margin: 0;padding: 0;  list-style-type: none;}

a:active,select , a:focus { outline: none !important; text-decoration: none;}


/*css start here*/



.women-section-banner {min-height: 614px;}
.bg-title h3 {
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    color: #fff;
    font-family: "proxima_novasemibold",sans-serif;
    font-size: 44px;
    padding: 9px 0;
    text-align: center;
    text-transform: uppercase;
}
.bg-title {
    padding-top: 36%;
}
.banner-containt {margin-bottom: 30px;  height: 551px;
    /*min-height: 560px;*/ overflow: hidden !important;
    position: relative !important;
}
.baground-blck{ color: #fff;
    padding: 34.7% 10px 17.3%;
}
.banner-full-img {
    margin-bottom: 30px;
    margin-top: 30px;
}
.banner-full-img img{
    width: 100%;
}
.img-tag-bg {
    position: absolute; width: 100%;
}

.baground-blck.text-center {
    padding: 84% 20px 26.3%;
}
.baground-blck {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    z-index: 99999;
}
.baground-blck:hover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0; cursor: pointer;}


.banner-section3 .banner-full-img {
    margin-top: 0;
    position: relative;
   /* z-index: -1;*/
}
.bg-full-bottom { left: 0;
    padding: 8% 41px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.fashion {
    border-bottom: 1px solid #171717;
    border-top: 1px solid #171717;
    color: #171717;
    font-family: "proxima_novalight",sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    max-width: 39%;
    padding: 1px 0;
    text-align: center !important;
    text-transform: uppercase;
}
.bg-full-bottom h3 {
    color: #202c3c;
    font-family: proxima_novasemibold;
    font-size: 44px;
    text-transform: uppercase;
}
.light-title {
    color: #202020;
    font-family: proxima_novalight;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 21px;
    text-transform: uppercase;
}
.bg-full-bottom .buy-now-btn { border: 1px solid #363636;
    color: #363636; margin: initial;}
/*alredy in css*/
.buy-now-btn {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    font-family: "proxima_nova_rgregular",sans-serif;
    font-size: 19px;
    margin-top: 8px;
    max-width: 186px; height: 40px;
    padding: 5px 0; margin: 0 auto; display: block;
    text-align: center;
    width: 100%;
}
.buy-now-btn:hover {
    background: #fff none repeat scroll 0 0;
    color: #363636; text-decoration: none;
}
.baground-blck h3 {
    font-family: "proxima_novasemibold",sans-serif;
    font-size: 30px;padding: 0 19px;
    margin-bottom: 5px;  line-height: 40px;
    text-transform: uppercase;
}
.decrip-text {
    font-family: "proxima_novalight",sans-serif;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 13px; padding: 0 4px;
    margin-top: 10px;
}


@media all and (max-width:767px){
.banner-full-img img, .img-tag-bg img {
    width: 100%;
}
    .banner-containt {
        height: auto;}
    .col-lg-8 .banner-containt .img-tag-bg > img {
    width: auto;
}
    
}
    