<?php
/**
* zeonsolutions inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.zeonsolutions.com/shop/license-community.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * This package designed for Magento Community edition
 * =================================================================
 * zeonsolutions does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * zeonsolutions does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   design
 * @package    base_default
 * @version    0.0.1
 * @copyright  @copyright Copyright (c) 2013 zeonsolutions.Inc. (http://www.zeonsolutions.com)
 * @license    http://www.zeonsolutions.com/shop/license-community.txt
 */

?>
<form id="search_faq_form" action="<?php echo $this->getUrl('*') ?>" method="post">
<div class="form-search" style="text-align: right; height: 47px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: 'proxima_nova_rgregular';">
    <label for="search" class="no-display"><?php echo $this->__('Search FAQ:') ?></label>
    <input id="faqsearch" type="text" name="faqsearch" value="<?php echo $this->helper('zeon_faq')->getQueryParam() ?>" class="input-text" style="background:url('<?php echo $this->getSkinUrl('images/bkg_search-input.gif')?>') no-repeat 0 0;padding-left:23px;width:185px;" />&nbsp;<button type="submit"title="<?php echo $this->__('Go') ?>" class="button"><span><span><?php echo $this->__('Go') ?></span></span></button>
    <script type="text/javascript">
    //<![CDATA[
        var faqSearchForm = new Varien.searchForm('search_faq_form', 'faqsearch', '<?php echo $this->__('Enter FAQ search keyword') ?>');
    //]]>
    </script>
</div>
</form>