<!--
***************************************************************************************************

											FAQS

***************************************************************************************************	
-->
<div class="page" id="helptrouble">	
				
	<div class="mo2f_table_layout">
		<ul class="mo2f_faqs">
			<span class="btn-link"  href=""><li id="cURLfaq1">How to enable PHP cURL extension? (Pre-requisite)</li></span>
			<div class="collapse" id="question1">
				<ol>
				<li>Open php.ini.</li>
				<li>Search for extension=php_curl.dll. Uncomment it by removing the semi-colon( ; ) in front of it.</li>
				<li>Restart the Apache Server.</li>
				</ol>
			<br>For any further queries, please submit a query on right hand side in our <b>Support Section</b>.
			</div>
			<hr>
			
			<span class="btn-link"  href=""><li id="cURLfaq2">I am getting error - curl_setopt(): CURLOPT_FOLLOWLOCATION cannot be activated when an open_basedir is set?</li></span>
			<div class="collapse" id="question2">
				<ol>
				<li>Just setsafe_mode = Off in your php.ini file (it's usually in /etc/ on the server). If that's already off, then look around for the open_basedir in the php.ini file, and change it to open_basedir = .</li>
				</ol>
			<br>For any further queries, please submit a query on right hand side in our <b>Support Section</b>.
			</div>
			<hr>
			
			<span class="btn-link"  href=""><li id="otpfaq">I did not recieve OTP. What should I do?</li></span>
			<div class="collapse" id="question3">
				<ol>
				<li>The OTP is sent as an email to your email address with which you have registered with miniOrange. If you can't see the email from miniOrange in your mails, please make sure to check your SPAM folder. If you don't see an email even in SPAM folder, contact us at info@miniorange.com.</li>
				</ol>
			<br>For any further queries, please submit a query on right hand side in our <b>Support Section</b>.
			</div>
			<hr>
			
			<span class="btn-link"  href=""><li id="otpfaq">After entering OTP, I get Invalid OTP. What should I do?</li></span>
			<div class="collapse" id="question4">
				<ol>
				<li>You should click on Resend OTP link to get another OTP. Now enter this OTP to validate. If it still does not work, contact us at info@miniorange.com.</li>
				</ol>
				<br>For any further queries, please submit a query on right hand side in our <b>Support Section</b>.
			</div>
			<hr>
			
			<span class="btn-link"  href=""><li id="otpfaq">I forgot the password of my miniOrange account. How can I reset it?</li></span>
			<div class="collapse" id="question5">
				<ol>
				There are two cases according to the page you see -<br><br>
				1. Login with miniOrange screen: You should click on forgot password link. You will get your new password on your email address which you have registered with miniOrange . Now you can login with the new password.<br><br>
				2. Register with miniOrange screen: Enter your email ID and any random password in password and confirm password input box. This will redirect you to Login with miniOrange screen. Now follow first step.
				</ol><br>
				For any further queries, please submit a query on right hand side in our <b>Support Section</b>.
			</div>
			<hr>
			
			<span class="btn-link"  href=""><li id="sharingfaq">Why is sharing with some applications not working?</li></span>
			<div class="collapse" id="question5">
				<ol>
				<li>This issue arises if your website is not publicly hosted. Facebook, for example looks for the URL to generate its preview for sharing. That does not work on localhost or any privately hosted URL.</li>
				</ol><br>
				For any further queries, please submit a query on right hand side in our <b>Support Section</b>.
			</div>
			<hr>
			
		</ul>
	</div>
</div>
</div>