	<html>
	<head>		
		<link href="https://auth.miniorange.com/moas/css/telephone.css" rel="stylesheet">
		<link  href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'adminhtml/default/default/MiniOrange_Openid/css/bootstrap-social.css'; ?>" rel="stylesheet">
		<link  href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'adminhtml/default/default/MiniOrange_Openid/css/font-awesome.min.css'; ?>" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'adminhtml/default/default/MiniOrange_Openid/css/adminSettings.css'; ?>"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://auth.miniorange.com/moas/js/intlTelInput.min.js"></script>
		<script>
			var $m = jQuery.noConflict();
			$m(document).ready(function() {
				$email = "<?php echo $this->getConfig('email'); ?>";
			    $downloaded = "<?php echo $this->getConfig('downloaded'); ?>";
			    $twofactortype = "<?php echo $this->getConfig('twofactortype'); ?>"
			    $showsocialsharing = "<?php echo Mage::getSingleton('admin/session')->getshowsocialsharing(); ?>";
			    $showTwoFactorSettings = "<?php echo Mage::getSingleton('admin/session')->getShowTwoFactorSettings(); ?>";
			});	
		</script>
		<script src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'adminhtml/default/default/MiniOrange_Openid/js/adminSettings.js'; ?>"></script>
	</head>		
	<body>
		<div class="heading"> <h3>MINIORANGE SOCIAL LOGIN & SHARING EXTENSION CONFIGURATION</h3></div>
		<div class="mo2f_container">
		<div class="container">
		  <ul class="navbar navbar-tabs">
			<?php if( $this->getConfig('email')){?>
			<!-- <li id="user_profile"><a data-method="#userprofile">User Profile</a></li> -->
			<?php }else{?>
			<li id="account_setup"><a data-method="#accountsetup">Account Setup</a></li>
			<?php }?>
			<li id="social-login-setup"><a data-method="#sociallogin">Social Login</a></li>
			<li id="social-sharing-setup"><a data-method="#socialsharing">Social Sharing</a></li>
			<li id="pricing-tab"><a data-method="#pricing">Licencing Plans</a></li>
			<li id="help_trouble"><a data-method="#helptrouble">Help & Troubleshooting</a></li>
		  </ul>
		<div class="container-page">
			<div id="messages">
                        <ul class="mini-messages">
						<?php if(Mage::getSingleton('core/session')->getErrorMessage()){?>
						<li class="error-msg"><ul><li><span><?php echo Mage::getSingleton('core/session')->getErrorMessage(); ?></span><a id="error-cancel" href="#">&times;</a></li></ul></li>
						<?php }?>
						<?php if(Mage::getSingleton('core/session')->getSuccessMessage()){?>
						<li class="success-msg"><ul><li><span><?php echo Mage::getSingleton('core/session')->getSuccessMessage(); ?></span><a id="success-cancel" href="#">&times;</a></li></ul></li>
						<?php }?>
						</ul>						
			</div>
			<!-- USER PROFILE TAB -->
			<?php if( $this->getConfig('email') ){?>
			<div class="page" id="userprofile">
			<div class="mo2f_table_layout">
			<div><h3>YOUR PROFILE INFORMATION</h3><hr></div>	
				<table>
				  <tr>
					<td><b>miniOrange Account Email</b></td>
					<td><?php echo $this->getConfig('email')?></td> 
				  </tr>
				  <tr>
					<td><b>Customer Key</b></td>
					<td><?php echo $this->getConfig('customerKey')?></td> 
				  </tr>
				  <tr>
					<td><b>Api Key</b></td>
					<td><?php echo $this->getConfig('apiKey')?></td> 
				  </tr>
				  <tr>
					<td><b>Api Token</b></td>
					<td><?php echo $this->getConfig('apiToken')?></td> 
				  </tr>
				</table>
				</div>
			</div>
			<?php }else{
			
				### ACCOUNT SETUP TAB ###
				echo $this->getLayout()->createBlock('MiniOrange_Openid/moOpenidConfig')->setTemplate('miniorange_openid/accountSetup.phtml')->toHtml(); 

			}?>
			
			<!-- Social Login SETUP -->
			<div class="page" id="sociallogin">
				<form id="form-apps" name="form-apps" method="post" action="<?php echo $this->getadminurl('*/*/saveSocialLoginConf') ?>">
				<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
					<div id="twofactor_list" class="mo2f_table_layout">
						<?php echo $this->getLayout()->createBlock('MiniOrange_Openid/moOpenidConfig')->setTemplate('miniorange_openid/socialLoginSettings.phtml')->toHtml(); ?>
					</div>
				</form>
			</div>
			
			<!--Social SHARING SETTINGS TAB-->
			<div class="page" id="socialsharing">
				<div class="mo2f_table_layout">
					<div><h3>SOCIAL SHARING</h3><hr></div>
					<form name="f" id="settings_form" method="post" action="<?php echo $this->getadminurl('*/*/saveSocialSharingConf') ?>">
						<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
							<?php echo $this->getLayout()->createBlock('MiniOrange_Openid/moOpenidConfig')->setTemplate('miniorange_openid/socialSharingSettings.phtml')->toHtml(); ?>
					</form>
				</div>
			</div>
				
			<!--Pricing Tab-->
			<?php echo $this->getLayout()->createBlock('MiniOrange_Openid/moOpenidConfig')->setTemplate('miniorange_openid/moOpenidPricing.phtml')->toHtml(); ?>
			
			<!-- HELP AND TROUBLESHOOTING TAB-->
			<?php echo $this->getLayout()->createBlock('MiniOrange_Openid/moOpenidConfig')->setTemplate('miniorange_openid/faqs.phtml')->toHtml(); ?>

		<!-- END of Container Page -->
		</div>
		<!-- END of Container -->
			
		<!--SUPPORT TAB-->
		<div id="minisupport">
		 <ul class="navbar navbar-tabs">
			<li id="mini_support" class="always-active"><a href="#minisupport" class="mini_support">Support</a></li>
			</ul>
				<div class="mo2f_support_layout">
					<h3>SUPPORT</h3>
					<hr>
					<form name="f" method="post" action="<?php echo $this->getadminurl('*/*/supportSubmit') ?>">
						<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
						<div><b>Need any help? Just send us a query so we can help you.</b><br /><br/></div>
						<div>
							<table>
								<tr><td>
									<input type="email" class="mo2f_table_textbox" id="query_email" name="query_email" value="<?php echo Mage::getSingleton('admin/session')->getUser()->getEmail() ?>" placeholder="Enter your email" required="true" />
									</td>
								</tr>
								<tr><td>
									<input type="text" class="mo2f_table_textbox" name="query_phone" id="query_phone" title="Phone with country code eg. +1xxxxxxxxxx" placeholder="Phone with country code eg. +1xxxxxxxxxx" value="<?php echo $this->getConfig('phone')?>" pattern="[\+]?[0-9]{1,4}\s?[0-9]{10}"/>
									</td>
								</tr>
								<tr>
									<td>
										<textarea id="query" name="query" style="resize:vertical;height:143px;" onkeyup="mo2f_valid(this)" onblur="mo2f_valid(this)" onkeypress="mo2f_valid(this)" placeholder="Write your query here"></textarea>
									</td>
								</tr>
							</table>
						</div>
						<div class="button-align">
							<input type="submit" name="send_query" id="send_query" value="Submit Query" style="margin-bottom:3%;" class="button button-primary button-large" />
						</div>
					</form>
					<br />			
				</div>
				<br>
			</div>
		</div>
		
		<form style="display:none;" id="loginform" action="https://auth.miniorange.com/moas/login" 
		target="_blank" method="post">
			<input type="email" name="username" value="<?php echo $this->getConfig('email'); ?>" />
			<input type="text" name="redirectUrl" value="https://auth.miniorange.com/moas/initializepayment" />
			<input type="text" name="requestOrigin" id="requestOrigin"  />
		</form>
		<form method="post" id="checkLicenseForm" action="<?php echo $this->getadminurl('*/*/checkUserValidation') ?>">
			<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
		</form>
		
		<script>
		jQuery( document ).ready(function() {
			
				jQuery("#social-login-setup").click(function(){jQuery("#minisupport").show();});
				jQuery("#social-sharing-setup").click(function(){jQuery("#minisupport").show();});
				jQuery("#pricing-tab").click(function(){jQuery("#minisupport").hide();});
				jQuery("#help_trouble").click(function(){jQuery("#minisupport").show();});
			
				<?php if(!$this->getConfig('email') ){?>			
					jQuery("#form-apps :input").prop("disabled", true);	
					jQuery("#settings_form :input").prop("disabled", true);	
				<?php } ?>

				moLoginPreview(setSizeOfIcons(),tempHorTheme,tempHorCustomTheme,tempHorCustomColor,tempHorSpace,tempHorHeight);
				checkLoginButton();	
				
				<?php if( $this->getConfig('email')){ 
					if(isset($_GET['q']) && $_GET['q']=='sharing'){ ?>
					jQuery('#social-sharing-setup > a').click();
				<?php } else if(isset($_GET['q']) && $_GET['q']=='pricing'){ ?>
					jQuery('#pricing-tab > a').click();
				<?php } else { ?>
					jQuery('#social-login-setup > a').click();
				<?php }
				} ?>
		});
		function setLoginTheme(){return jQuery('input[name=mo_openid_login_theme]:checked', '#form-apps').val();}
		function setLoginCustomTheme(){return jQuery('input[name=mo_openid_login_custom_theme]:checked', '#form-apps').val();}
		function setSizeOfIcons(){
			if((jQuery('input[name=mo_openid_login_theme]:checked', '#form-apps').val()) == 'longbutton'){
				return document.getElementById('mo_login_icon_width').value;
			}else{
				return document.getElementById('mo_login_icon_size').value;
			}
		}
		
		function moLoginLongButtonText(){
			var loginText = jQuery('#mo_sharing_long_button_text').val();
			jQuery( ".customlongbuttontext" ).each(function() {
					jQuery( this ).html(loginText);
			  });
		}
		
		function moLoginPreview(t,r,l,p,n,h){
			
			//alert(t+" "+r+" "+l+" "+p+" "+n+" "+h);
			if(l == 'default'){
				if(r == 'longbutton'){
					var a = "btn-defaulttheme";
					jQuery("."+a).css("width",t+"px");
					if(h>26){
						jQuery("."+a).css("height","26px");
						jQuery("."+a).css("padding-top",(h-26)/2+"px");
						jQuery("."+a).css("padding-bottom",(h-26)/2+"px");
					}else{
						jQuery("."+a).css("height",h+"px");
						jQuery("."+a).css("padding-top",(h-26)/2+"px");
						jQuery("."+a).css("padding-bottom",(h-26)/2+"px");
					}
					//jQuery("."+a).css("height","26px");
					//jQuery("."+a).css("padding-top",(h-26)/2+"px");
					//jQuery("."+a).css("padding-bottom",(h-26)/2+"px");
					jQuery(".fa").css("padding-top",(h-35)+"px");
					jQuery("."+a).css("margin-bottom",n+"px");
				}else{
					var a="mo_login_icon_preview";
					jQuery("."+a).css("margin-left",n+"px");
					if(r=="circle"){
						jQuery("."+a).css({height:t,width:t});
						jQuery("."+a).css("borderRadius","999px");
					}else if(r=="oval"){
						jQuery("."+a).css("borderRadius","5px");
						jQuery("."+a).css({height:t,width:t});
					}else if(r=="square"){
						jQuery("."+a).css("borderRadius","0px");
						jQuery("."+a).css({height:t,width:t});
					}
				}
			}
			else if(l == 'custom'){
				if(r == 'longbutton'){
						var a = "btn-customtheme";
						jQuery("."+a).css("width",(t)+"px");
						if(h>26){
							jQuery("."+a).css("height","26px");
							jQuery("."+a).css("padding-top",(h-26)/2+"px");
							jQuery("."+a).css("padding-bottom",(h-26)/2+"px");
						}else{
							jQuery("."+a).css("height",h+"px");
							jQuery("."+a).css("padding-top",(h-26)/2+"px");
							jQuery("."+a).css("padding-bottom",(h-26)/2+"px");
						}
						jQuery("."+a).css("margin-bottom",n+"px");
						jQuery("."+a).css("background",p);
				}else{
					var a="mo_custom_login_icon_preview";
					jQuery("."+a).css({height:t-8,width:t});
					jQuery("."+a).css("padding-top","8px");
					jQuery("."+a).css("margin-left",n+"px");
					jQuery("."+a).css("background",p);
					
					if(r=="circle"){
						jQuery("."+a).css("borderRadius","999px");
					}else if(r=="oval"){
						jQuery("."+a).css("borderRadius","5px");
						}else if(r=="square"){
						jQuery("."+a).css("borderRadius","0px");
					}
					jQuery("."+a).css("font-size",(t-16)+"px");
				}
			}
			previewLoginIcons();
		}

		function checkLoginButton(){
			if(document.getElementById('iconwithtext').checked) {
				if(setLoginCustomTheme() == 'default'){
					jQuery(".mo_login_icon_preview").hide();
					jQuery(".mo_custom_login_icon_preview").hide();
					jQuery(".btn-customtheme").hide();
					jQuery(".btn-defaulttheme").show();
				}else if(setLoginCustomTheme() == 'custom'){
					jQuery(".mo_login_icon_preview").hide();
					jQuery(".mo_custom_login_icon_preview").hide();
					jQuery(".btn-defaulttheme").hide();
					jQuery(".btn-customtheme").show();
				}
				jQuery("#commontheme").hide();
				jQuery(".longbuttontheme").show();
			}else {
				if(setLoginCustomTheme() == 'default'){
					jQuery(".mo_login_icon_preview").show();
					jQuery(".btn-defaulttheme").hide();
					jQuery(".btn-customtheme").hide();
					jQuery(".mo_custom_login_icon_preview").hide();
				}else if(setLoginCustomTheme() == 'custom'){
					jQuery(".mo_login_icon_preview").hide();
					jQuery(".mo_custom_login_icon_preview").show();
					jQuery(".btn-defaulttheme").hide();
					jQuery(".btn-customtheme").hide();
				}
				jQuery("#commontheme").show();
				jQuery(".longbuttontheme").hide();
			}
		
			previewLoginIcons();
			moLoginLongButtonText();
	}	
	
	function previewLoginIcons() {
			var flag = 0;
			if (document.getElementById('google_enable').checked)   {
				flag = 1;
				if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
					jQuery("#mo_login_icon_preview_google").show();
				if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
					jQuery("#mo_custom_login_icon_preview_google").show();
				if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)
					jQuery("#mo_login_button_preview_google").show();
				if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
					jQuery("#mo_custom_login_button_preview_google").show();
			} else if(!document.getElementById('google_enable').checked){
				jQuery("#mo_login_icon_preview_google").hide();
				jQuery("#mo_custom_login_icon_preview_google").hide();
				jQuery("#mo_login_button_preview_google").hide();
				jQuery("#mo_custom_login_button_preview_google").hide();
			}
			
			if (document.getElementById('facebook_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_icon_preview_facebook").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_icon_preview_facebook").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_button_preview_facebook").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_button_preview_facebook").show();
				}else if(!document.getElementById('facebook_enable').checked){
					jQuery("#mo_login_icon_preview_facebook").hide();
					jQuery("#mo_custom_login_icon_preview_facebook").hide();
					jQuery("#mo_login_button_preview_facebook").hide();
					jQuery("#mo_custom_login_button_preview_facebook").hide();
				}
				
				if (document.getElementById('linkedin_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_icon_preview_linkedin").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_icon_preview_linkedin").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)	
						jQuery("#mo_login_button_preview_linkedin").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)	
						jQuery("#mo_custom_login_button_preview_linkedin").show();
				} else if(!document.getElementById('linkedin_enable').checked){
					jQuery("#mo_login_icon_preview_linkedin").hide();
					jQuery("#mo_custom_login_icon_preview_linkedin").hide();
					jQuery("#mo_login_button_preview_linkedin").hide();
					jQuery("#mo_custom_login_button_preview_linkedin").hide();
				}
				
				if (document.getElementById('instagram_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_icon_preview_instagram").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_icon_preview_instagram").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_button_preview_instagram").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_button_preview_instagram").show();
				} else if(!document.getElementById('instagram_enable').checked){
					jQuery("#mo_login_icon_preview_instagram").hide();
					jQuery("#mo_custom_login_icon_preview_instagram").hide();
					jQuery("#mo_login_button_preview_instagram").hide();
					jQuery("#mo_custom_login_button_preview_instagram").hide();
				}
				
				if (document.getElementById('amazon_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checkedd)
						jQuery("#mo_login_icon_preview_amazon").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#amazoncustom").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked) {
						jQuery("#mo_login_button_preview_amazon").show();
						jQuery("#mo_login_icon_preview_amazon").hide();
					}
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_button_preview_amazon").show();
				}else if(!document.getElementById('amazon_enable').checked){
					jQuery("#mo_login_icon_preview_amazon").hide();
					jQuery("#amazoncustom").hide();
					jQuery("#mo_login_button_preview_amazon").hide();
					jQuery("#mo_custom_login_button_preview_amazon").hide();
				}
				
				if (document.getElementById('salesforce_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_icon_preview_salesforce").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#salesforcecustom").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_button_preview_salesforce").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_button_preview_salesforce").show();
				} else if(!document.getElementById('salesforce_enable').checked){
					jQuery("#mo_login_icon_preview_salesforce").hide();
					jQuery("#salesforcecustom").hide();
					jQuery("#mo_login_button_preview_salesforce").hide();
					jQuery("#mo_custom_login_button_preview_salesforce").hide();
				}
				
				if (document.getElementById('windowslive_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_icon_preview_windowslive").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_icon_preview_windows").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_button_preview_windowslive").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_button_preview_windows").show();
				} else if(!document.getElementById('windowslive_enable').checked){
					jQuery("#mo_login_icon_preview_windowslive").hide();
					jQuery("#mo_custom_login_icon_preview_windows").hide();
					jQuery("#mo_login_button_preview_windowslive").hide();
					jQuery("#mo_custom_login_button_preview_windows").hide();
				}
				
				
				if (document.getElementById('twitter_enable').checked) {
					flag = 1;
					if(document.getElementById('mo_openid_login_default_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_icon_preview_twitter").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && !document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_icon_preview_twitter").show();
					if(document.getElementById('mo_openid_login_default_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_login_button_preview_twitter").show();
					if(document.getElementById('mo_openid_login_custom_radio').checked && document.getElementById('iconwithtext').checked)
						jQuery("#mo_custom_login_button_preview_twitter").show();
				}else if(!document.getElementById('twitter_enable').checked){
					jQuery("#mo_login_icon_preview_twitter").hide();
					jQuery("#mo_custom_login_icon_preview_twitter").hide();
					jQuery("#mo_login_button_preview_twitter").hide();
					jQuery("#mo_custom_login_button_preview_twitter").hide();
				}
				
				if(flag) {
					jQuery("#no_apps_text").hide();
				} else {
					jQuery("#no_apps_text").show();
				}
			}
		</script>
		
		
		<script>
			
			var selectedApps = [];
			function setTheme(){return jQuery('input[name=mo_openid_share_theme]:checked', '#settings_form').val();}
			function setCustomTheme(){return jQuery('input[name=mo_openid_share_custom_theme]:checked', '#settings_form').val();}
					
			function moSharingPreview(e,t,r,w,h,n,x){
				
				//alert(e+" "+t+" "+r+" "+w+" "+h+" "+n+" "+x);
				if("default"==w){
					var a="mo_sharing_icon_preview";
					jQuery('.mo_sharing_icon_preview').show();
					jQuery('.mo_custom_sharing_icon_preview').hide();
					jQuery('.mo_custom_sharing_icon_font_preview').hide();
					jQuery("."+a).css({height:t,width:t});
					jQuery("."+a).css("font-size",(t-10)+"px");
					jQuery("."+a).css("margin-left",n+"px");
					
					if(r=="circle"){
					jQuery("."+a).css("borderRadius","999px");
					}else if(r=="oval"){
					jQuery("."+a).css("borderRadius","5px");
					}else if(r=="square"){
					jQuery("."+a).css("borderRadius","0px");
					}
					
				}
				else if(w == "custom"){
					var a="mo_custom_sharing_icon_preview";
					jQuery('.mo_sharing_icon_preview').hide();
					jQuery('.mo_custom_sharing_icon_font_preview').hide();
					jQuery('.mo_custom_sharing_icon_preview').show();
					jQuery("."+a).css("background",h);
					jQuery("."+a).css("padding-top","8px");
					jQuery("."+a).css({height:t-8,width:t});
					jQuery("."+a).css("font-size",(t-16)+"px");
					if(t-16<8)
						jQuery("."+a).css("font-size","8px");
					
					
					if(r=="circle"){
					jQuery("."+a).css("borderRadius","999px");
					}else if(r=="oval"){
					jQuery("."+a).css("borderRadius","5px");
					}else if(r=="square"){
					jQuery("."+a).css("borderRadius","0px");
					}
					
					jQuery("."+a).css("margin-left",n+"px");
				}
				
				else if("customFont"==w){
					var a="mo_custom_sharing_icon_font_preview";
					jQuery('.mo_sharing_icon_preview').hide();
					jQuery('.mo_custom_sharing_icon_preview').hide();
					jQuery('.mo_custom_sharing_icon_font_preview').show();
					jQuery("."+a).css("font-size",t+"px");
					jQuery('.mo_custom_sharing_icon_font_preview').css("color",x);
					jQuery("."+a).css("margin-left",n+"px");
					
					if(r=="circle"){
					jQuery("."+a).css("borderRadius","999px");
					
					}else if(r=="oval"){
					jQuery("."+a).css("borderRadius","5px");
					}else if(r=="square"){
					jQuery("."+a).css("borderRadius","0px");
					}
					
				}
				
				var position = jQuery('input[name=mo_openid_share_position]:checked', '#settings_form').val();
				moSharingSetPosition(position);
				addSelectedApps();
				
			}
			
			//position
			function moSharingSetPosition(position){
				if(position=='leftvertical'){
					jQuery(".moshareiconsdiv").css("position","fixed");
					jQuery(".moshareiconsdiv").css("top",document.getElementById('mo_sharing_position_top').value+"%");
					jQuery(".moshareiconsdiv").css("width",parseInt(document.getElementById('mo_sharing_icon_size').value)+2*parseInt(document.getElementById('mo_sharing_icon_space').value));
					jQuery(".moshareiconsdiv").css("left","0");
					jQuery(".moshareiconsdiv").css("right","");
					jQuery(".moshareiconsdiv").css("z-index","999");
				}else if(position=='rightvertical'){
					jQuery(".moshareiconsdiv").css("position","fixed");
					jQuery(".moshareiconsdiv").css("top",document.getElementById('mo_sharing_position_top').value+"%");
					jQuery(".moshareiconsdiv").css("width",parseInt(document.getElementById('mo_sharing_icon_size').value)+2*parseInt(document.getElementById('mo_sharing_icon_space').value));
					jQuery(".moshareiconsdiv").css("left","");
					jQuery(".moshareiconsdiv").css("right","0");
					jQuery(".moshareiconsdiv").css("z-index","999");
				}else{
					jQuery(".moshareiconsdiv").css("position","");
					jQuery(".moshareiconsdiv").css("top","");
					jQuery(".moshareiconsdiv").css("width","");
					jQuery(".moshareiconsdiv").css("right","");
					jQuery(".moshareiconsdiv").css("z-index","");
					jQuery(".moshareiconsdiv").css("margin-top",document.getElementById('mo_sharing_position_top').value+"px");
				}
				//class="moshareiconsdiv"
			}
			
			function addSelectedApps() {
				var flag = 0;
					if (document.getElementById('google_share_enable').checked)   {
						flag = 1;
							if(document.getElementById('mo_openid_default_background_radio').checked)
								jQuery("#mo_sharing_icon_preview_google").show();
							if(document.getElementById('mo_openid_custom_background_radio').checked)
								jQuery("#mo_custom_sharing_icon_preview_google").show();
							if(document.getElementById('mo_openid_no_background_radio').checked)
								jQuery("#mo_custom_sharing_icon_font_preview_google").show();
					} else if(!document.getElementById('google_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_google").hide();
						jQuery("#mo_custom_sharing_icon_preview_google").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_google").hide();
						
					}
					
					if (document.getElementById('facebook_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_facebook").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_facebook").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_facebook").show();
					}else if(!document.getElementById('facebook_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_facebook").hide();
						jQuery("#mo_custom_sharing_icon_preview_facebook").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_facebook").hide();
					}
					
					if (document.getElementById('linkedin_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_linkedin").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_linkedin").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)	
							jQuery("#mo_custom_sharing_icon_font_preview_linkedin").show();
					} else if(!document.getElementById('linkedin_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_linkedin").hide();
						jQuery("#mo_custom_sharing_icon_preview_linkedin").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_linkedin").hide();
					}
					
					if (document.getElementById('twitter_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_twitter").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_twitter").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_twitter").show();
					} else if(!document.getElementById('twitter_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_twitter").hide();
						jQuery("#mo_custom_sharing_icon_preview_twitter").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_twitter").hide();
					}
					
					if (document.getElementById('pinterest_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_pinterest").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_pinterest").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_pinterest").show();
					}else if(!document.getElementById('pinterest_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_pinterest").hide();
						jQuery("#mo_custom_sharing_icon_preview_pinterest").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_pinterest").hide();
					}
					
					if (document.getElementById('reddit_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_reddit").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_reddit").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_reddit").show();
						//}
					} else if(!document.getElementById('reddit_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_reddit").hide();
						jQuery("#mo_custom_sharing_icon_preview_reddit").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_reddit").hide();
					}
					
					if (document.getElementById('vkontakte_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_vk").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_vk").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_vk").show();
						//}
					} else if(!document.getElementById('vkontakte_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_vk").hide();
						jQuery("#mo_custom_sharing_icon_preview_vk").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_vk").hide();
					}
					
					if (document.getElementById('stumble_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_stumble").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_stumble").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_stumble").show();
						//}
					} else if(!document.getElementById('stumble_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_stumble").hide();
						jQuery("#mo_custom_sharing_icon_preview_stumble").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_stumble").hide();
					}
					
					if (document.getElementById('tumblr_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_tumblr").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_tumblr").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_tumblr").show();
						//}
					} else if(!document.getElementById('tumblr_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_tumblr").hide();
						jQuery("#mo_custom_sharing_icon_preview_tumblr").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_tumblr").hide();
					}
					
					if (document.getElementById('pocket_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_pocket").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_pocket").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_pocket").show();
						//}
					} else if(!document.getElementById('pocket_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_pocket").hide();
						jQuery("#mo_custom_sharing_icon_preview_pocket").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_pocket").hide();
					}
					if (document.getElementById('digg_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_digg").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_digg").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_digg").show();
						//}
					} else if(!document.getElementById('digg_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_digg").hide();
						jQuery("#mo_custom_sharing_icon_preview_digg").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_digg").hide();
					}
					if (document.getElementById('delicious_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_delicious").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_delicious").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_delicious").show();
						//}
					} else if(!document.getElementById('delicious_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_delicious").hide();
						jQuery("#mo_custom_sharing_icon_preview_delicious").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_delicious").hide();
					}
					if (document.getElementById('odnoklassniki_share_enable').checked) {
						flag = 1;
						if(document.getElementById('mo_openid_default_background_radio').checked)
							jQuery("#mo_sharing_icon_preview_odnoklassniki").show();
						if(document.getElementById('mo_openid_custom_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_preview_odnoklassniki").show();
						if(document.getElementById('mo_openid_no_background_radio').checked)
							jQuery("#mo_custom_sharing_icon_font_preview_odnoklassniki").show();
						//}
					} else if(!document.getElementById('odnoklassniki_share_enable').checked){
						jQuery("#mo_sharing_icon_preview_odnoklassniki").hide();
						jQuery("#mo_custom_sharing_icon_preview_odnoklassniki").hide();
						jQuery("#mo_custom_sharing_icon_font_preview_odnoklassniki").hide();
					}
					
						if(flag) {
						jQuery("#no_apps_text").hide();
					} else {
						jQuery("#no_apps_text").show();
					} 
			}
						
			jQuery( document ).ready(function() {
				moSharingPreview('horizontal',shareIconSize,shareIconTheme,shareIconCustomTheme,shareIconCustomColor,shareIconSpace,shareIconCustomFont);
			});
				
				
			function moLoginSizeValidate(e){
				var t=parseInt(e.value.trim());t>60?e.value=60:20>t&&(e.value=20);
				reloadLoginPreview();
			}
			function moLoginSpaceValidate(e){
				var t=parseInt(e.value.trim());t>60?e.value=60:0>t&&(e.value=0);
				reloadLoginPreview();
			}
			function moLoginWidthValidate(e){
				var t=parseInt(e.value.trim());t>1000?e.value=1000:140>t&&(e.value=140)
				reloadLoginPreview();
			}
			function moLoginHeightValidate(e){
				var t=parseInt(e.value.trim());t>100?e.value=100:10>t&&(e.value=10)
				reloadLoginPreview();
			}
			function reloadLoginPreview(){
				if(setLoginTheme()=='longbutton')
					moLoginPreview(document.getElementById('mo_login_icon_width').value ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,
					document.getElementById('mo_login_icon_height').value);
				else
					moLoginPreview(document.getElementById('mo_login_icon_size').value ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value);
			}
			
			
			function moSharingSpaceValidate(e){
				var t=parseInt(e.value.trim());t>50?e.value=50:0>t&&(e.value=0);
				reloadSharingPreview();
			}

			function moSharingSizeValidate(e){
				var t=parseInt(e.value.trim());t>60?e.value=60:10>t&&(e.value=10);
				reloadSharingPreview();
			}
			function reloadSharingPreview(){
				moSharingPreview('horizontal', document.getElementById('mo_sharing_icon_size').value, setTheme(), setCustomTheme(), document.getElementById('mo_sharing_icon_custom_color').value, document.getElementById('mo_sharing_icon_space').value, document.getElementById('mo_sharing_icon_custom_font').value);
			}
			
			function upgradeform(planType){
				//alert(plantype);
				jQuery('#requestOrigin').val(planType);
				jQuery('#loginform').submit();
			}

			function checkLicense(){
				jQuery("#checkLicenseForm").submit();
			}
		</script>
	</body>
	</html>