<!--
***************************************************************************************************

										SOCIAL LOGIN SETTINGS

***************************************************************************************************	
-->
<h3>SOCIAL LOGIN</h3><hr>
<p style="font-size:14px">Select applications to enable login for your users. Customize your login icons using a range of shapes, themes and sizes. You can choose different places to display these icons and also customize redirect url after login.</p>
<input type="submit" name="submit" value="Save" style="width:100px;float:right;margin-right:2%" class="button button-primary button-large">
<br><h3>Select Apps</h3>
<p>Select applications to enable social login</p>
<table style="width:100%;display: table;">
	<tbody><tr>
		<td style="width:25%"><input type="checkbox" id="facebook_enable" class="app_enable" name="mo_openid_facebook_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('facebookEnable')) echo "checked"; ?>><b>Facebook</b>
		</td>
		<td style="width:25%">
		<input type="checkbox" id="google_enable" class="app_enable" name="mo_openid_google_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('googleEnable')) echo "checked"; ?>><b>Google</b>
		</td>
		<td style="width:25%">
		<input type="checkbox" id="twitter_enable" class="app_enable" name="mo_openid_twitter_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('twitterEnable')) echo "checked"; ?>><b>Twitter</b>
		</td>
		<td style="width:25%">
		<input type="checkbox" id="instagram_enable" class="app_enable" name="mo_openid_instagram_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('instagramEnable')) echo "checked"; ?>><b>Instagram</b>
		</td>
	</tr>
	<tr>
		<td>
		<input type="checkbox" id="linkedin_enable" class="app_enable" name="mo_openid_linkedin_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('linkedinEnable')) echo "checked"; ?>><b>LinkedIn</b>
		</td>
		<td>
		<input type="checkbox" id="amazon_enable" class="app_enable" name="mo_openid_amazon_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('amazonEnable')) echo "checked"; ?>><b>Amazon</b>
		</td>
		<td>
		<input type="checkbox" id="salesforce_enable" class="app_enable" name="mo_openid_salesforce_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('salesforceEnable')) echo "checked"; ?>><b>Salesforce</b>
		</td>
		<td>
		<input type="checkbox" id="windowslive_enable" class="app_enable" name="mo_openid_windowslive_enable" value="1" onchange="previewLoginIcons();" <?php if($this->getConfig('windowsliveEnable')) echo "checked"; ?>><b>Windows Live</b>
		</td>
	</tr>
	
</tbody></table>

<br><hr><br>
<h3>Customize Login Icons</h3>
<p>Customize shape, theme and size of social login icons</p>

<?php
	$iconSpace = $this->getConfig('iconSpace');
	if(!$iconSpace) $iconSpace = '4'; 
	$iconCustomSize = $this->getConfig('iconCustomSize');
	if(!$iconCustomSize) $iconCustomSize = '35'; 
	$iconCustomWidth = $this->getConfig('iconCustomWidth');
	if(!$iconCustomWidth) $iconCustomWidth = '200'; 
	$iconCustomHeight = $this->getConfig('iconCustomHeight');
	if(!$iconCustomHeight) $iconCustomHeight = '35'; 
	$loginCustomTheme = $this->getConfig('loginCustomTheme');
	$loginTheme = $this->getConfig('loginTheme');
	$iconCustomColor = $this->getConfig('iconCustomColor');
	if(!$iconCustomColor) $iconCustomColor = '#0000FF'; 
	$longButtonText = $this->getConfig('longButtonText');
	if(!$longButtonText) $longButtonText = 'Login with'; 
?>
<table style="width:100%;display: table;">
	<tbody><tr>
	<td>
		<b>Shape</b>
		<b style="margin-left:130px;">Theme</b>
		<b style="margin-left:130px;">Space between Icons</b>
		<b style="margin-left:86px;">Size of Icons</b>
	</td>
	</tr>
	<tr><td class="mo_openid_table_td_checkbox">
		<input type="radio" name="mo_openid_login_theme" value="circle" onclick="checkLoginButton();moLoginPreview(document.getElementById('mo_login_icon_size').value ,'circle',setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value)" style="width: auto;" checked>Round
			
	<span style="margin-left:106px;">
		<input type="radio" id="mo_openid_login_default_radio" name="mo_openid_login_custom_theme" value="default" onclick="checkLoginButton();moLoginPreview(setSizeOfIcons(), setLoginTheme(),'default',document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)" checked>Default
		
	</span>
	
	<span style="margin-left:111px;">
			<input style="width:50px" onkeyup="moLoginSpaceValidate(this)" id="mo_login_icon_space" name="mo_login_icon_space" type="text" value="<?php echo $iconSpace; ?>">
			<input id="mo_login_space_plus" type="button" value="+" onmouseup="document.getElementById('mo_login_icon_space').value=parseInt(document.getElementById('mo_login_icon_space').value)+1;moLoginPreview(setSizeOfIcons() ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value)">
			<input id="mo_login_space_minus" type="button" value="-" onmouseup="document.getElementById('mo_login_icon_space').value=parseInt(document.getElementById('mo_login_icon_space').value)-1;moLoginPreview(setSizeOfIcons()  ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value)">
	</span>
		
		
	<span id="commontheme" style="margin-left:95px">
	<input style="width:50px" id="mo_login_icon_size" onkeyup="moLoginSizeValidate(this)" name="mo_login_icon_custom_size" type="text" value="<?php if($iconCustomSize) echo $iconCustomSize; else echo '35'; ?>">
	<input id="mo_login_size_plus" type="button" value="+" onmouseup="document.getElementById('mo_login_icon_size').value=parseInt(document.getElementById('mo_login_icon_size').value)+1;moLoginPreview(document.getElementById('mo_login_icon_size').value ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value)">
	<input id="mo_login_size_minus" type="button" value="-" onmouseup="document.getElementById('mo_login_icon_size').value=parseInt(document.getElementById('mo_login_icon_size').value)-1;moLoginPreview(document.getElementById('mo_login_icon_size').value ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value)">
	
	</span>
	<span style="margin-left: 95px; display: none;" class="longbuttontheme">Width:&nbsp;
	<input style="width:50px" id="mo_login_icon_width" onkeyup="moLoginWidthValidate(this)" name="mo_login_icon_custom_width" type="text" value="<?php echo $iconCustomWidth;?>">
	<input id="mo_login_width_plus" type="button" value="+" onmouseup="document.getElementById('mo_login_icon_width').value=parseInt(document.getElementById('mo_login_icon_width').value)+1;moLoginPreview(document.getElementById('mo_login_icon_width').value ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)">
	<input id="mo_login_width_minus" type="button" value="-" onmouseup="document.getElementById('mo_login_icon_width').value=parseInt(document.getElementById('mo_login_icon_width').value)-1;moLoginPreview(document.getElementById('mo_login_icon_width').value ,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)">
	
	</span>
	
	
	</td>			
</tr>

<tr>
	<td class="mo_openid_table_td_checkbox">
	<input type="radio" name="mo_openid_login_theme" value="oval" onclick="checkLoginButton();moLoginPreview(document.getElementById('mo_login_icon_size').value,'oval',setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_size').value )" style="width: auto;" <?php if($loginTheme=='oval') echo "checked"; ?>>Rounded Edges	

	<span style="margin-left:50px;">
			<input type="radio" id="mo_openid_login_custom_radio" name="mo_openid_login_custom_theme" value="custom" onclick="checkLoginButton();moLoginPreview(setSizeOfIcons(), setLoginTheme(),'custom',document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)" 
			<?php if($loginCustomTheme=='custom') echo "checked"; ?> >Custom Background*
					
			</span>	
					
		<span style="margin-left: 256px; display: none;" class="longbuttontheme">Height:
	<input style="width:50px" id="mo_login_icon_height" onkeyup="moLoginHeightValidate(this)" name="mo_login_icon_custom_height" type="text" value="<?php if($iconCustomHeight) echo $iconCustomHeight; else echo '35'; ?>">
	<input id="mo_login_height_plus" type="button" value="+" onmouseup="document.getElementById('mo_login_icon_height').value=parseInt(document.getElementById('mo_login_icon_height').value)+1;moLoginPreview(document.getElementById('mo_login_icon_width').value,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)">
	<input id="mo_login_height_minus" type="button" value="-" onmouseup="document.getElementById('mo_login_icon_height').value=parseInt(document.getElementById('mo_login_icon_height').value)-1;moLoginPreview(document.getElementById('mo_login_icon_width').value,setLoginTheme(),setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)">
	
	</span>
	</td>
</tr>

<tr>
	<td class="mo_openid_table_td_checkbox">
			<input type="radio" name="mo_openid_login_theme" value="square" onclick="checkLoginButton();moLoginPreview(document.getElementById('mo_login_icon_size').value ,'square',setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_size').value )" style="width: auto;" <?php if($loginTheme=='square') echo "checked"; ?>>Square
		
			<span style="margin-left:113px;">
				<input type="color" name="mo_login_icon_custom_color" id="mo_login_icon_custom_color" value="<?php echo $iconCustomColor;?>" onchange="moLoginPreview(setSizeOfIcons(), setLoginTheme(),'custom',document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value)">
			</span>
	</td>
</tr>

<tr>
	<td class="mo_openid_table_td_checkbox">
	<input type="radio" id="iconwithtext" name="mo_openid_login_theme" value="longbutton" onclick="checkLoginButton();moLoginPreview(document.getElementById('mo_login_icon_width').value ,'longbutton',setLoginCustomTheme(),document.getElementById('mo_login_icon_custom_color').value,document.getElementById('mo_login_icon_space').value,document.getElementById('mo_login_icon_height').value)" style="width: auto;" <?php if($loginTheme=='longbutton') echo "checked"; ?>>Long Button with Text
	</td>
</tr>

<tr>
	<td class="mo_openid_table_td_checkbox">
	Long Button Custom Text 
	<input style="width: 150px;margin-left: 10px;" id="mo_sharing_long_button_text" name="mo_sharing_long_button_text" type="text" value="<?php echo $longButtonText ?>" onkeyup="moLoginLongButtonText()">
	</td>
</tr>

</tbody></table>


<br><h3>Select where you want to show Icons : </h3>
<input type="checkbox" class="app_enable" name="mo_openid_show_on_admin" value="1" <?php if($this->getConfig('showOnAdmin')) echo "checked"; ?>> On Admin Login Page
<input type="checkbox" class="app_enable" name="mo_openid_show_on_front" value="1" <?php if($this->getConfig('showOnFront')) echo "checked"; ?>> On Front Login Page


<br><br><h3>Preview : </h3>
<span hidden id="no_apps_text">No apps selected</span>
<!-- <img src='<?php echo $this->getIconImage('facebook') ?>' />-->


<div>
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_google" src="<?php echo $this->getIconImage('google') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_facebook" src="<?php echo $this->getIconImage('facebook') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_twitter" src="<?php echo $this->getIconImage('twitter') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_instagram" src="<?php echo $this->getIconImage('instagram') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_linkedin" src="<?php echo $this->getIconImage('linkedin') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_amazon" src="<?php echo $this->getIconImage('amazon') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_salesforce" src="<?php echo $this->getIconImage('salesforce') ?>" />
	<img class="mo_login_icon_preview" id="mo_login_icon_preview_windowslive" src="<?php echo $this->getIconImage('windowslive') ?>" />
</div>


<div>

<a id="mo_login_button_preview_google" class="btn btn-block btn-defaulttheme btn-social btn-google btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?>"> <i class="fa fa-google-plus" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Google</a>
<a id="mo_login_button_preview_facebook" class="btn btn-block btn-defaulttheme btn-social btn-facebook btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?>"> <i class="fa fa-facebook" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Facebook</a>
<a id="mo_login_button_preview_twitter" class="btn btn-block btn-defaulttheme btn-social btn-twitter btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?> "> <i class="fa fa-twitter" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Twitter</a>
<a id="mo_login_button_preview_instagram" class="btn btn-block btn-defaulttheme btn-social btn-instagram btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?>"> <i class="fa fa-instagram" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Instagram</a>
<a id="mo_login_button_preview_linkedin" class="btn btn-block btn-defaulttheme btn-social btn-linkedin btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?>"> <i class="fa fa-linkedin" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> LinkedIn</a>
<a id="mo_login_button_preview_amazon" class="btn btn-block btn-defaulttheme btn-social btn-soundcloud btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?>"> <i class="fa fa-amazon" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Amazon</a>
<a id="mo_login_button_preview_salesforce" class="btn btn-block btn-defaulttheme btn-social btn-vimeo btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom: <?php echo $iconSpace.'px'; ?>"> <i class="fa fa-cloud" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Salesforce</a>
<a id="mo_login_button_preview_windowslive" class="btn btn-block btn-defaulttheme btn-social btn-microsoft btn-custom-size" style="width: <?php echo $iconCustomWidth;?>px; height:<?php echo $iconCustomHeight;?>px; padding-top: 6px; padding-bottom: 6px; margin-bottom:<?php echo $iconSpace.'px'; ?> "> <i class="fa fa-windows" style="padding-top: 0px;"></i><span class="customlongbuttontext">Login with</span> Windows</a>
</div>


<div>
<i class="mo_custom_login_icon_preview fa fa-google-plus" id="mo_custom_login_icon_preview_google"  style="color:#ffffff;text-align:center;margin-top:5px;"></i>
<i class="mo_custom_login_icon_preview fa fa-facebook" id="mo_custom_login_icon_preview_facebook"  style="color:#ffffff;text-align:center;margin-top:5px;"></i>
<i class="mo_custom_login_icon_preview fa fa-twitter" id="mo_custom_login_icon_preview_twitter" style="color:#ffffff;text-align:center;margin-top:5px;" ></i>
<i class="mo_custom_login_icon_preview fa fa-instagram" id="mo_custom_login_icon_preview_instagram" style="color:#ffffff;text-align:center;margin-top:5px;"></i>
<i class="mo_custom_login_icon_preview fa fa-linkedin" id="mo_custom_login_icon_preview_linkedin" style="color:#ffffff;text-align:center;margin-top:5px;"></i>
<i class="mo_custom_login_icon_preview fa fa-amazon" id="amazoncustom" style="color:#ffffff;text-align:center;margin-top:5px;"></i>
<i class="mo_custom_login_icon_preview fa fa-cloud" id="salesforcecustom" style="margin-bottom:-10px;color:#ffffff;text-align:center;margin-top:5px;" ></i>
<i class="mo_custom_login_icon_preview fa fa-windows" id="mo_custom_login_icon_preview_windows" style="color:#ffffff;text-align:center;margin-top:5px;" ></i>
</div>

<div>
<a id="mo_custom_login_button_preview_google" class="btn btn-block btn-customtheme btn-social   btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;"> <i class="fa fa-google-plus"></i><span class="customlongbuttontext">Login with</span> Google</a>
<a id="mo_custom_login_button_preview_facebook" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-facebook"></i><span class="customlongbuttontext">Login with</span> Facebook</a>
<a id="mo_custom_login_button_preview_twitter" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-twitter"></i><span class="customlongbuttontext">Login with</span> Twitter</a>
<a id="mo_custom_login_button_preview_instagram" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-instagram"></i><span class="customlongbuttontext">Login with</span> Instagram</a>
<a id="mo_custom_login_button_preview_linkedin" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-linkedin"></i><span class="customlongbuttontext">Login with</span> LinkedIn</a>
<a id="mo_custom_login_button_preview_amazon" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-amazon"></i><span class="customlongbuttontext">Login with</span> Amazon</a>
<a id="mo_custom_login_button_preview_salesforce" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-cloud"></i><span class="customlongbuttontext">Login with</span> Salesforce</a>
<a id="mo_custom_login_button_preview_windows" class="btn btn-block btn-customtheme btn-social  btn-custom-size" style="width:<?php echo $iconCustomWidth;?>px;height:<?php echo $iconCustomHeight;?>px;padding-top: 6px;padding-bottom: 6px;margin-bottom:<?php echo $iconSpace;?>px;background:<?php echo $iconCustomColor;?>;" > <i class="fa fa-windows"></i><span class="customlongbuttontext">Login with</span> Windows</a>
</div>

<br><br>

<script>
		var tempHorSize = '<?php echo $iconCustomSize ?>';
		var tempHorTheme = '<?php echo $loginTheme ?>';
		var tempHorCustomTheme = '<?php echo $loginCustomTheme ?>';
		var tempHorCustomColor = '<?php echo $iconCustomColor ?>';
		var tempHorSpace = '<?php echo $iconSpace ?>';
		var tempHorHeight = '<?php echo $iconCustomHeight ?>';	
</script>