<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.8
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div <?php if ($this->getBlockId()):?>id="<?php echo $this->getBlockId();?>"<?php endif;?> class="aw-onestepcheckout-timer">
    <div class="aw-onestepcheckout-timer-title">
        <h1><?php echo $this->__($this->getTitleText(), $this->getTimerClockElement());?></h1>
    </div>
    <div class="aw-onestepcheckout-timer-description">
        <p><?php echo $this->__($this->getDescriptionText());?></p>
    </div>
    <div class="aw-onestepcheckout-timer-actions">
        <div class="aw-onestepcheckout-timer-actions-left">
            <a href="javascript:void(0)" <?php if ($this->getRedirectNowActionHtmlId()):?>id="<?php echo $this->getRedirectNowActionHtmlId();?>"<?php endif;?>>
                <?php echo $this->__($this->getRedirectNowActionText());?>
            </a>
        </div>
        <div class="aw-onestepcheckout-timer-actions-right">
            <a href="javascript:void(0)" <?php if ($this->getCancelActionHtmlId()):?>id="<?php echo $this->getCancelActionHtmlId();?>"<?php endif;?>>
                <?php echo $this->__($this->getCancelActionText());?>
            </a>
        </div>
    </div>
</div>