<?php
/**
 * PERFICIENT INDIA PVT LTD.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://shop.perficient.com/license-community.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * This package designed for Magento COMMUNITY edition
 * =================================================================
 * Perficient does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Perficient does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * PHP version 5.x
 *
 * @category  Perficient
 * @package   Perficient_Manufacturer
 * @author    Perficient <mukesh.soni@perficient.com>
 * @copyright 2015 PERFICIENT INDIA PVT LTD
 * @license   OSL http://shop.perficient.com/license-community.txt
 * @version   GIT:1.0.8
 * @link      [No Url]
 */
?>
<?php $_manufacturersCollection = $this->getManufacturersCollection(); ?>
<?php $_columnCount = 5; ?>

<div class="page-title">
    <h1><?php echo $this->__('Manufacturers') ?></h1>
</div>
<?php if(!$_manufacturersCollection->getSize()) { ?>
    <p class="note-msg"><?php echo $this->__('There are no manufactures matching the selection.') ?></p>
<?php } else { ?>
    <?php $_collectionSize = $_manufacturersCollection->getSize() ?>
    <?php $i=0; foreach ($_manufacturersCollection as $_manufacturer): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid" style="background: none;">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <?php if($_manufacturer->getManufacturerLogo()) { ?> 
                <a href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>" title="<?php echo $this->stripTags($_manufacturer->getManufacturer()) ?>">
                    <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'manufacturer' . '/' . $_manufacturer->getManufacturerLogo() ?>" width="70" height="70" alt="" />
                </a>
                <?php } ?> 
                <h2 class="product-name">
                    <a href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>" title="<?php echo $this->stripTags($_manufacturer->getManufacturer()) ?>">
                        <?php echo $_manufacturer->getManufacturer(); ?>
                    </a>
                </h2>
                <div class="actions">
                </div>
            </li>
    <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
    </ul>
    <?php endif ?>
    <?php endforeach ?>
<?php }  ?>