<?php
$_helper = $this->helper('catalog/output');
?>

<?php
if (Mage::getStoreConfig('pp_section_setttings/crosssell/cross_sell_page')) {
    if (in_array(Mage::getStoreConfig('pp_section_setttings/crosssell/cross_sell_page_type'), array('script'))) {
        $child = $this->getChild("pptrack_script");
        if ($child) {
            echo $this->getChildHtml('pptrack_script');
        }
    }
    if (in_array(Mage::getStoreConfig('pp_section_setttings/crosssell/cross_sell_page_type'), array('ads', 'both'))) {
        $child = $this->getChild("pptrack_ads");
        if ($child) {
            echo $this->getChildHtml('pptrack_ads');
        }
    }
    if (in_array(Mage::getStoreConfig('pp_section_setttings/crosssell/cross_sell_page_type'), array('products', 'both'))) {
        $child = $this->getChild("pptrack_crosssell");
        if ($child) {
            $child->setData("orderId", $this->orderId);
            echo $this->getChildHtml('pptrack_crosssell');
        }
    }
}
?>

<div class="clearfix"></div>
<div class="track-section">
<?php if ($this->trackingType === 1) : ?>
<h2 class="track-name"><?php echo Mage::helper('pptrack')->__('Track your order'); ?></h2>
<div class="clearfix"></div>
<form class="pptrack-form pptrack-boxmodel" method="get" action="">
    <div class="pptrack-row">
        <div class="pptrack-form-controls">
            <label class="text-label required pptrack-input" for="pp_email"><?php echo Mage::helper('pptrack')->__('Your email'); ?></label>
            <input value="<?php echo $this->email ?>" id="pp_email" class="pptrack-input input-text required-entry" name="email" type="text" required>
        </div>
        <div class="pptrack-form-controls">
            <label class="text-label required pptrack-input" for="pp_order"><?php echo Mage::helper('pptrack')->__('Order number'); ?></label>
            <input value="<?php echo $this->orderNumber ?>" id="pp_order" class="pptrack-input input-text required-entry" name="order"
                   type="text" required>
        </div>
         <div class="pptrack-form-controls">
        <button class="btn button pptrack-btn" type="submit"><?php echo Mage::helper('pptrack')->__('Submit'); ?></button>
        </div>
    </div>
    
</form>
<?php endif; ?>
<?php if ($this->msg) : ?>
<div class="pptrack-info">
    <?php echo $this->msg ?>
</div>
<?php endif; ?>

<?php foreach($this->trackModels as $model) : ?>
<?php
    $shippingInfo = $model->getShippingInfo();
?>
<br>
<div class="clearfix"></div>
<?php if (!$model->getStatus()): ?>
    <br>
    <br>
    <h2><?php echo Mage::helper('pptrack')->__('No tracking info!'); ?></h2>
    <br>
<?php else: ?>

    <div class="pptrack-wrapper clearfix">
        <?php if ($this->trackingType === 1) : ?>
        <h2><?php echo count($this->trackModels) == 1 ? Mage::helper('pptrack')->__('Shipment Information') : Mage::helper('pptrack')->__('Package:') . ' ' . strtoupper($model->code); ?></h2>
        <?php endif; ?>
        <br/>

        <div id="#<?php echo strtoupper($model->code) ?>" class="pptrack-progress">
            <div class="pptrack-progress-bar-wrapper">
                <div class="pptrack-progress-bar-wrapper">
                    <ul class="pptrack-progress-bar <?php if ($model->getStatus() == 'delivered') echo "pptrack-progress-bar-done"; ?>">
                        <li class="<?php echo $model->getStatusClass(Packpin_Pptrack_Model_Track::STATUS_PENDING) ?>">
                            <div
                                class="pptrack-tracking-progress-bar-label"><?php echo Mage::helper('pptrack')->__('Dispatched'); ?></div>
                            <span class="pptrack-progress-bubble"></span>
                        </li>
                        <li class="<?php echo $model->getStatusClass(Packpin_Pptrack_Model_Track::STATUS_IN_TRANSIT) ?>">
                            <div
                                class="pptrack-tracking-progress-bar-label"><?php echo Mage::helper('pptrack')->__('In Transit'); ?></div>
                            <span class="pptrack-progress-bubble"></span>
                        </li>
                        <li class="<?php echo $model->getStatusClass(Packpin_Pptrack_Model_Track::STATUS_OUT_FOR_DELIVERY) ?>">
                            <div
                                class="pptrack-tracking-progress-bar-label"><?php echo Mage::helper('pptrack')->__('Out for delivery'); ?></div>
                            <span class="pptrack-progress-bubble"></span>
                        </li>
                        <li class="<?php echo $model->getStatusClass(Packpin_Pptrack_Model_Track::STATUS_DELIVERED) ?>">
                            <div class="pptrack-tracking-progress-bar-label"><?php echo Mage::helper('pptrack')->__('Delivered'); ?></div>
                            <span class="pptrack-progress-bubble"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <br/>

        <div class="pptrack-tracking-info">
            <h2><?php echo Mage::helper('pptrack')->__('Tracking Info'); ?></h2>

            <div class="pptrack-tracking-info-details">
                <?php $details = $model->getDetails(); ?>
                <?php if (!$details) : ?>
                    <div class="pptrack-info-row">
                        <div class="pptrack-info-row-date"><?php echo date("Y-m-d", $model->created_at) ?>
                            <br/><?php echo date("H:i:s", $model->created_at) ?></div>
                        <div class="pptrack-info-row-details-wrapper">
                            <div class="pptrack-info-row-details">
                                <?php if ($model->status == Packpin_Pptrack_Model_Track::STATUS_PENDING) : ?>
                                    <?php echo Mage::helper('pptrack')->__("Package status pending"); ?>
                                <?php else : ?>
                                    <?php echo Mage::helper('pptrack')->__("Package prepared for dispatch"); ?>
                                <?php endif; ?>
                            </div>
                        </div>
                        <div style="clear:both;display:table;"></div>
                    </div>
                <?php else : ?>
                    <?php foreach ($details as $detail): ?>
                        <div class="pptrack-info-row">
                            <div>
                                <div class="pptrack-info-row-date"><?php echo $detail->getEventDate(); ?>
                                    <br/><?php echo $detail->getEventTime(); ?></div>
                                <div class="pptrack-info-row-details-wrapper">
                                    <div class="pptrack-info-row-details">
                                        <?php echo Mage::helper('pptrack')->__($detail->getStatusString()); ?>
                                        <div
                                            class="pptrack-info-row-details-location"><?php echo $detail->getLocation() ?></div>
                                    </div>
                                </div>
                                <div style="clear:both;display:table;"></div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="pptrack-tracking-general-info">
            <h2>Info</h2>

            <div class="pptrack-tracking-general-info-details">
                <?php if ($this->trackingType === 1) : ?>
                <div class="pptrack-tracking-row">
                    <span class="pptrack-tracking-general-info-label"><?php echo Mage::helper('pptrack')->__('Order number'); ?></span>
                    <span class="pptrack-tracking-general-info-value"><?php echo $model->getOrderNumber(); ?></span>
                    <br style="clear: both;"/>
                </div>
                <?php endif; ?>
                <div class="pptrack-tracking-row">
                    <span class="pptrack-tracking-general-info-label"><?php echo Mage::helper('pptrack')->__('Tracking code'); ?></span>
                    <span class="pptrack-tracking-general-info-value"><?php echo $model->getCode(); ?></span>
                    <br style="clear: both;"/>
                </div>
                <?php if ($model->apiResponseData && isset($model->apiResponseData['estimated_delivery']) && $model->apiResponseData['estimated_delivery']) : ?>
                <div class="pptrack-tracking-row">
                    <span class="pptrack-tracking-general-info-label"><?php echo Mage::helper('pptrack')->__('Estimated delivery day'); ?></span>
                    <span class="pptrack-tracking-general-info-value"><?php echo $model->getEstimatedDelivery() ?></span>
                    <br style="clear: both;"/>
                </div>
                <?php endif; ?>
                <?php if ($this->trackingType === 1) : ?>
                <div class="pptrack-tracking-row">
                    <span class="pptrack-tracking-general-info-label"><?php echo Mage::helper('pptrack')->__('Shipped on'); ?></span>
                    <span class="pptrack-tracking-general-info-value"><?php echo $model->getShippingDate(); ?></span>
                    <br style="clear: both;"/>
                </div>
                <div class="pptrack-tracking-row">
                    <span class="pptrack-tracking-general-info-label"><?php echo Mage::helper('pptrack')->__('Ships to'); ?></span>
                    <span
                        class="pptrack-tracking-general-info-value"><?php echo $shippingInfo['firstname'] . ' ' . $shippingInfo['lastname']; ?>
                        <br/><?php echo $shippingInfo['street'] . ', ' . $shippingInfo['city']; ?>
                        <br/><?php echo $shippingInfo['region'] ? $shippingInfo['region'] . '<br />' : ''; ?><?php echo $shippingInfo['postcode']; ?> <?php echo Mage::app()->getLocale()->getCountryTranslation($shippingInfo['country_id']); ?></span>
                    <br style="clear: both;"/>
                </div>
                <?php endif; ?>

                <br/>

                <div class="pptrack-tracking-carrier-info-wrapper">
                    <span><?php echo Mage::helper('pptrack')->__('For questions regarding your shipment contact carrier directly'); ?></span><br/>
                  

                    <div class="pptrack-tracking-courier-logo">
                        <img src="<?php echo $model->getCarrierIcon() ?>"/>
                    </div>
                    <div class="pptrack-tracking-courier-info">
                        <h3><?php echo $model->getCarrierName() ?></h3>
                        <?php
                        $phone = $model->getCarrierPhone();
                        $homepage = $model->getCarrierHomepage();
                        ?>
                        <?php if ($phone) : ?>
                            <span><?php echo $phone ?></span><br/>
                        <?php endif; ?>
                        <?php if ($homepage) : ?>
                            <a href="<?php echo $homepage ?>"><?php echo $homepage ?></a>
                        <?php endif; ?>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
<?php endforeach; ?>
</div>
