/*404 error*/
.whtbg {background: #fff none repeat scroll 0 0;color: #fff;/*padding-bottom: 30px;padding-top: 100px;*/}
.bg-404 {color: #fff;font-size: 49px;height: 409px;margin: 0 auto;max-width: 535px;padding-top: 109px;text-align: center;}
.why_page_txt {color: #333;font-family: open sans;font-size: 14px;margin-bottom: 15px;text-align: center;}
.why_page_txt a:link, .why_page_txt a:visited {color: #FB9029;font-family: open sans semibold;font-size: 14px;font-weight: bold;text-decoration: none;}
