
/* Template by marcosilva.co.uk, base on Zurb 
responsive templates and boiler plate, 
images and copy from http://www.hardgraft.com/ */
 


/* ------------------------------------- 		GLOBAL ------------------------------------- */
* {
		margin:0;
	padding:0;
}
* {
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
img {
		max-width:100%;
}
.collapse {
	padding-right:15px;
	padding:0;
}
body {
	-webkit-font-smoothing:antialiased;
		-webkit-text-size-adjust:none;
		width:100%!important;
		height: 100%;
}
/* ------------------------------------- 		ELEMENTS ------------------------------------- */
.nav a {
    color: #363636;
    display: block;
    font-size: 20px;letter-spacing: 3px;
    margin-bottom: 12px;
    margin-top: 5px;
    text-decoration: none; vertical-align: super;
}
.nav a:hover{ text-decoration: underline;}
ul.nav li{ display: inline-block;}
ul.nav li:nth-of-type(1) , ul.nav li:nth-of-type(2) {
    border-right: 1px solid #ddd;
    line-height: 3px;
    padding-right: 8px;
    
}
.title-women-colthing {
    background: rgba(0, 0, 0, 0.56) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    font-size: 36px;
    padding: 61px 0 0;
    position: absolute;
    width: 100%;
}

.pwd-change {
    background: #f9f9f9 none repeat scroll 0 0;
    margin-bottom: 15px;
    padding: 24px 0;
}
.pwd-change h3 {
    border-bottom: 1px solid #ddd;
    font-size: 23px;
    margin-bottom: 31px;
    padding-bottom: 9px;
}
.pwd-change .text-emal {
    color: #454545;
    font-size: 16px;
    padding: 5px 35px;
}
.pwd-change .text-emal > a {
    background: #363636 none repeat scroll 0 0;
    color: #fff;
    font-size: 15px;
    margin-top: 21px;
    max-width: 195px;
    padding: 12px;margin-bottom: 12px;
    text-decoration: none;
}.content.signup h3 {
    font-size: 33px;
    letter-spacing: 2px;
    margin-bottom: 16px;
    margin-top: 0;
}

.content.signup .text-emal {
    font-size: 16px;
    padding: 12px 18px;
}
.content.signup .name-email {
    font-size: 17px;
}
.content.signup .content.signup h3{  margin-bottom: 11px;  font-size: 28px;}
.vist-act {
     background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ffffff;
    color: #363636;
    display: block;
    font-size: 15px;
    margin: 0 auto 44px;
    max-width: 169px;
    padding: 13px 26px;
    text-decoration: none;
    text-transform: uppercase;
}
.footer-c a {
    color: #888;
    display: inline-block;
    font-size: 13px;
    padding: 7px 8px;
}
.vist-act:hover{ background: #363636; color: #fff;}
.text-emal > a {
    color: #f9f9f9;margin-bottom: 35px;
    display: block;
    font-size: 17px;
    padding-top: 9px;
}
.text-emal {
    font-size: 17px;
    padding: 18px;
}
.name-email {
    font-size: 22px;
}
a {
	color:#aaaaaa;
	font-size:12px;
}
.bt {
	padding-top:10px;
}
p.callout {
	padding:9px;
	font-size:12px;
}
p.text {
	padding-left:5px;
	font-size:12px;
}
p.left {
	padding:5px;
	font-size:12px;
	text-align:left;
}
.prod {
	margin:0;
	padding:0;
	color:#aaaaaa;
}
.callout a {
	font-weight:bold;
	color: #aaaaaa;
}
/* ------------------------------------- 		HEADER ------------------------------------- */
table.head-wrap {
	width:100%;
}
.header.container table td.logo {
	padding:15px;
}
.header.container table td.label {
	padding:15px;
	padding-left: 0px;
}
/* ------------------------------------- 		BODY ------------------------------------- */
table.body-wrap {
	width: 100%;
}
/* ------------------------------------- FOOTER------------------------------------- */
table.footer-wrap {
	width:100%;
    background-color: #f5f5f5;
    height: 50px;
}
table.footer-wrap2 {
	width: 100%;
}
}
/* ------------------------------------- 		TYPOGRAPHY ------------------------------------- */
h1,h2,h3,h4,h5,h6 {
font-family:"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
line-height:1.1;
margin-bottom:5px;
color:#000;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
font-size:60%;
color:#6f6f6f;
line-height:0;
text-transform:none;
}
h1 {
font-weight:200;
font-size:18px;
padding:20px;
letter-spacing:3px;
font-weight:300;
}
h2 {
font-weight:200;
font-size:37px;
}
h3 {
font-weight:500;
font-size:27px;
}
h4 {
font-weight:500;
font-size:23px;
}
h5 {
font-weight:900;
font-size:13px;
color:#c2a67e;
}
h6 {
font-weight:900;
font-size:14px;
text-transform:uppercase;
color:#444;

}
h7 {
font-weight:900;
font-size:14px;
text-transform:uppercase;
color:#444;
padding:5px;
}
.collapse {
margin:0!important;
}
p,ul {
	margin-bottom:2px;
	font-weight:normal;
	font-size:11px;
	line-height:1.6;
}
p.lead {
font-size:13px;
}
p.last {
margin-bottom:0px;
}
ul li {
margin-left:5px;
list-style-position: inside;
}
/* --------------------------------------------------- 		RESPONSIVENESS		Nuke it from orbit. ------------------------------------------------------ */
/* Set a max-width,and make it display as block so it will automatically stretch to that width,but will also shrink down on a phone or something */
.container {
display:block!important;
max-width:600px!important;
margin:0 auto!important;
/* makes it centered */
clear:both!important;
}
/* This should also be a block element,so that it will fill 100% of the .container */
.content {
padding:5px;
max-width:600px;
margin:0 auto;
display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
width: 100%;
}
/* Odds and ends */
.column {
width:300px;
float:left;
}
.column tr td {
padding:5px;
}
.column-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column table {
width:100%;
}
.social .column {
width:280px;
min-width:279px;
float:left;
}
.column3 {
width:300px;
float:left;
}
.column3 tr td {
padding:1px;
}
.column3-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column3 table {
width:100%;
}
.column2 {
width:240px;
	float:left;
}
.column2 tr td {
padding:5px;
}
.column2-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.column2 table {
width:100%;
}
.social .column {
width:280px;
min-width:279px;
float: left;
}
/* Odds and ends */
.prod {
width:200px;
float:left;
}
.prod tr td {
padding:5px;
}
.prod-wrap {
	padding:0!important;
	margin:0 auto;
	max-width:600px!important;
}
.prod table {
width:100%;
}
.prod .column {
width:200px;
min-width:200px;
float: left;
}
/* Be sure to place a .clear element after each set of columns,just to be safe */
.clear {
display:block;
clear: both;
}
/* ------------------------------------------- 		PHONE		For clients that support media queries.		Nothing fancy. -------------------------------------------- */
@media only screen and (max-width:600px) {
	a[class="btn"] {
	display:block!important;
	margin-bottom:10px!important;
	background-image:none!important;
	margin-right:0!important;
}
div[class="column"] {
	width:auto!important;
	float:none!important;
}
div[class="column2"] {
	width:auto!important;
	float:none!important;
}
div[class="column3"] {
	width:auto!important;
	float:none!important;
}
table[class="top"] {
	width:auto!important;
	float:none!important;
}
.prod {
	width:150px;
	float:left;
}
		table.social div[class="column"] {
		width: auto!important;
}
}