.em-footer-style12{
	.em-footer-top{
		padding-top:5.5rem;
		padding-bottom:4rem;
	}
	.em-footer-bottom{
		padding-top:35px;
	}
	address{
		margin-top:5px;
	}
	.em-links{
		li{
			padding:0 0 $padding1x; 
		}
	}
	.em-wrapper-social{
		overflow: hidden;
		.em-block-title{
			float:left;
			margin-right:20px;
			margin-top: 10px;
		}
		.em-block-content{
			overflow:hidden;
			float:left;
		}
		.em-social{
			.em-social-icon{
				@include border-radius(100%);
				padding: 8px 10px;
				//font-size: 0;
				min-width: 30px;			
				.fa{
					//font-size:0;
					&:before{
						font-size:16px;
					}
				}
			}
		}
	}		
}
