ul.tabs a.packpin-settings span,
ul.tabs a.packpin-settings:hover span {
    background-image: url("../images/pp_logo1.png");
    background-repeat: no-repeat;
    background-position: 17px center;
    line-height: 24px;
    padding-left: 43px;
    border-bottom: 1px dotted;
}
ul.tabs dd:last-child a.packpin-settings span,
ul.tabs dd:last-child a.packpin-settings:hover span {
    border-bottom: none;
}
.packpin-notice {
    background: #eaf0ee;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    padding: 11px 0 0 10px;
}
.packpin-notice-date {
    color: red;
}
#row_pp_section_setttings_crosssell_cross_sell_email td {
    border-top: 3px solid #6f8992 !important;
    padding-top: 15px !important;
}
#intercom-container .intercom-launcher-button {
    width: 105px !important;
    height: 40px !important;
    background: #c03a2b url("https://packpin.com/packpinSupportLogo.png") no-repeat center center !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    border-radius: 20px !important;
}
.pp-preview-row {
    display: block;
    margin: 3px -15px;
    min-width: 500px;
}
.pp-preview-item-wrap {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    width: 200px;
    height: auto;
    border: 1px solid #eaf0ee;
}
.pp-preview-image {
    height: 100px;
}
.pp-preview-image.pp-preview-template1 {
    background: #fff url("../images/mg_template1_o.png") no-repeat center center;
    background-size: contain;
}
.pp-preview-image.pp-preview-template2 {
    background: #fff url("../images/mg_template2_o.png") no-repeat center center;
    background-size: contain;
}
.pp-preview-item-title {
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 11px;
    color: #696969;
    text-shadow: #FFFFFF;
}