.responsive-tabs.responsive-tabs-initialized{display:block}
.responsive-tabs>div.content{clear:both; margin: 0;}
.responsive-tabs.accordion{border:1px solid #e1e1e1;}
.responsive-tabs.accordion>nav{display:none}
.responsive-tabs.accordion h3.accordion-title{margin:0}
.responsive-tabs.accordion h3.accordion-title a{background:#fff;font-weight:400;border-top:1px solid #e1e1e1;padding:10px 15px;display:block;font-size:16px;color:#333;text-decoration:none}
.responsive-tabs.accordion h3.accordion-title:first-child a{border-top:none}
.responsive-tabs.accordion>div.content>section{padding:10px;background:#fff;display:block;border-top:1px solid #e1e1e1;overflow:auto}
.responsive-tabs.tabs{border:none}
.responsive-tabs.tabs>nav{display:block}
.responsive-tabs.tabs>nav ul{list-style:none;padding:0;margin:0}
.responsive-tabs.tabs>nav ul:after{content:'';display:table;clear:both}
.responsive-tabs.tabs>nav ul li{float:left;font-size:16px;border-left:0;border-top:0;  padding: 0 16px;}
.responsive-tabs.tabs>nav ul li:last-child{border-right:0;}
.responsive-tabs.tabs>nav ul li.active{position:relative;z-index:2;top:2px;margin-top:-2px;border-bottom:2px solid #363636;}
.responsive-tabs.tabs>nav ul li a{background:transparent;padding:10px 9px; font-family: "proxima_novalight", sans-serif;
    font-size: 20px;color: #363636; display:block;text-decoration:none}
.responsive-tabs.tabs h3.accordion-title{display:none}
.responsive-tabs.tabs>div.content{ background: #ffffff;border: 1px solid #dfdfdf;margin: 0;padding: 21px;}
.tabs.responsive-tabs .active > a , .responsive-tabs.accordion h3.accordion-title.active a{ color: #363636;font-family: "proxima_novasemibold", sans-serif;}
/*.tabs.responsive-tabs.responsive-tabs-initialized ul {border-bottom: 1px solid #d8d8d8;}*/
