#itoris-wishlist-popup-box {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index:15000;
}
#itoris-wishlist-popup-mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15000;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	background-color: #666666;
	filter: alpha(opacity=90);
}
#itoris-wishlist-popup {
	z-index: 15001;
	border:none;    border-radius: 4px;
	position: fixed;
	width: 500px;
	overflow: auto;
	background-color: #fff;
	top: 182.5px;
	left:50%; padding: 11px 0;box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	margin: 0 0 0 -250px;
	border:1px solid #FFFFFF;
	border-right:1px solid #666666;
	border-bottom:1px solid #666666
}
#itoris-wishlist-popup-loading {
	position: absolute;
	z-index: 15002;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	background: url(images/loader.gif) center center #000000 no-repeat;
	top:-1px;
	left:-1px;
}

#itoris-wishlist-radiostack {
	margin-left: 20px !important;
	font: bold 12px/19px Arial, Helvetica, sans-serif;
	text-align: left;
}
#itoris-wishlist-popup-buttons {
	width: 100%;
	text-align: right;
	border-top:1px solid #dddddd;
	margin-top: 50px;
	padding: 17px 0 5px;
}
#itoris-wishlist-popup-buttons button {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 0;
	overflow: visible;
	padding: 0;
	width: 110px;
}
#itoris-wishlist-popup-buttons button span {
   background: #363636 none repeat scroll 0 0;
    border: 1px solid #363636;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font: bold 13px/19px Arial,Helvetica,sans-serif;
    padding: 3px 8px;
    text-align: center;
    white-space: nowrap;
}
#itoris-wishlist-popup-buttons button span span {
	border: 0 none;
	padding: 0;
}

#itoris-wishlist-popup > h4 {
    background: #eee none repeat scroll 0 0;
    color: #202020;
    font-size: 16px;
    margin-bottom: 18px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: -12px !important;
    padding: 15px;
}
.td-del.icon-btn-size .button  , .buttons-set .td-del.icon-btn-size .button{
    display: inline-block;background: #fff!important;
    margin-right: 3px !important;
    padding: 2px; border: 1px solid #363636;
    width: 31px !important;
}
/*.td-del.icon-btn-size .button:hover  , .buttons-set .td-del.icon-btn-size .button:hover , #wishlist-table .td-del.icon-btn-size button span:hover , .buttons-set .td-del.icon-btn-size button span:hover

{  background: #363636!important; color: #fff!important;}*/

#wishlist-table .td-del.icon-btn-size button span , .buttons-set .td-del.icon-btn-size button span{
    background: #fff !important;
    color: #363636 !important;
}
#itoris-wishlist-radiostack > div {
    color: #565656;
    display: inline-block;
    font-family: "proxima_nova_rgregular",sans-serif;
    font-size: 15px;
    font-weight: normal;
    margin-right: 25px;
}
#itoris-wishlist-radiostack input {
    border: 1px solid #ddd;
    height: 29px;
}
#wishlist-table .product-name > a {
    font-size: 15px !important;
}

