
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline_back.css"}}

<table class="body-wrap">
<tr>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
    <table bgcolor="" class="social" width="100%">
        <tr style="padding-bottom: 7px; padding-top: 5px;">
            <td align="" style="position: relative; padding: 0 15px ;">
                <ul class="nav" style="text-align:center;">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Men</a></li>
                </ul>   
                <!-- Contant here start -->
                <!-- Contant here end-->
            </td>
        </tr>
    </table>
</div>	


</td>
</tr>
</table>

{{template config_path="design/email/footer"}}