#cssmenu,#cssmenu ul,#cssmenu li,#cssmenu a {/*margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; font-family: 'Open Sans'; font-size: 13px;*/ position: relative; margin: 0;
    padding: 0;}
#cssmenu a {line-height: 1.3;}
#cssmenu {}
#cssmenu > ul > li {margin: 0 0 2px 0; list-style: outside none none;}
#cssmenu > ul > li:last-child {margin: 0;}
#cssmenu > ul > li > a {font-size: 15px; display: block; color: #ffffff; margin-bottom:15px;}
#cssmenu > ul > li > a > span {display: block;}
#cssmenu > ul > li > a:hover {text-decoration: none;}
#cssmenu > ul > li.active {border-bottom: none; }
#cssmenu > ul > li.active > a {}
#cssmenu > ul > li.active > a span {}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 100% center no-repeat;line-height: 30px;
  /*color:#244151; text-transform:uppercase; font-size:16px; font-family:'Open Sans Semibold'; border-bottom:1px solid #dfdfdf; padding-bottom:12px; outline:none;*/
}
#cssmenu > ul > li.has-sub.active > a span {background: url(../images/icon_minus.png) 100% center no-repeat; outline:none;line-height: 30px;}
/*
#cssmenu .has-sub.active > ul {
    display: block;
}*/
#cssmenu .has-sub > ul {
    display: none;
}
#cssmenu {
    margin-bottom: 22px;
}
.keyword_bx > div:last-child {
    margin-bottom: 0 !important;
}
/* Sub menu */
/*#cssmenu ul ul {display: none;}
#cssmenu ul ul li { padding: 3px 0;}
#cssmenu ul ul a {display: block; color: #595959; font-size: 13px; font-weight: bold;}
#cssmenu ul ul a:hover {color: #79980d;}*/




/*faq accordian start here*/
#faq_acc,#faq_acc ul,#faq_acc li,#faq_acc a {/*margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; font-family: 'Open Sans'; font-size: 13px;*/ position: relative; margin: 0;list-style-type: none;
    padding: 0;}
#faq_acc a {line-height: 1.3;}
#faq_acc {}
#faq_acc > ul > li {/*margin: 0 0 10px 0;*/ list-style: outside none none;}
#faq_acc > ul > li:last-child {margin: 0;}
#faq_acc > ul > li > a {border-radius: 2px;border-top: 1px solid #d8d8d8;color: #515151;display: block;font-size: 16px;padding: 13px 2px 12px;
    text-transform: none;}
#faq_acc > ul > li > a > span {display: block;}
#faq_acc > ul > li > a:hover {text-decoration: none;}
#faq_acc > ul > li.active {border-bottom: none; }
#faq_acc > ul > li.active > a {border-bottom: medium none;}
#faq_acc > ul > li.active > a span {}
#faq_acc > ul > li.has-sub > a span {
    background: url("../images/plus_faq.png");background-repeat:  no-repeat; background-position: right center; background-size: 14px auto;
    line-height: 20px;  font-size: 19px;  
    border-radius: 2px;
}
.active1 {
    color: #3498db !important;
    font-family: "open sans semibold";
    font-size: 14px !important;
    color: #3498db !important;
}
#faq_acc > ul > li.has-sub.active > a span {
    background: url("../images/minus_faq.png");background-repeat:  no-repeat; background-position: right center; background-size: 14px auto;
    line-height: 20px;font-family: "proxima_novasemibold",sans-serif;
    font-size: 19px;
    outline: medium none;
    color: #515151 !important;
}
/*
#cssmenu .has-sub.active > ul {
    display: block;
}*/
.faq-text {
     color: #616161;
    font-size: 15px;
    line-height: 25px;
}

#faq_acc .has-sub > ul {
    /*background: #fafafa ;*/
    display: none;
    padding: 3px 12px;  
    
}
#faq_acc {
    margin-bottom: 22px;
}
.keyword_bx > div:last-child {
    margin-bottom: 0 !important;
}

#faq_acc .has-sub:last-child{border-bottom: 1px solid #d8d8d8;}
#faq_acc .has-sub.active:last-child{border-bottom: 1px solid #d8d8d8 !important;}
/*faq accoredian css end here*/




/*faq accordian start here*/
#contct,#faq_acc ul,#faq_acc li,#faq_acc a {/*margin: 0; padding: 0; border: 0; list-style: none; font-weight: normal; text-decoration: none; line-height: 1; font-family: 'Open Sans'; font-size: 13px;*/ position: relative; margin: 0;list-style-type: none;
    padding: 0;}
#contct a {line-height: 1.3;}
#contct {}
#contct > ul > li {/*margin: 0 0 10px 0;*/ list-style: outside none none;}
#contct > ul > li:last-child {margin: 0;}
#contct > ul > li > a { background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    color: #515151;
    display: block;
    font-family: "proxima_novasemibold",sans-serif;
    font-size: 20px;
    margin-bottom: 18px;
    padding: 14px 17px;
    
    text-transform: none;}
#contct > ul > li > a > span {display: block;}
#contct > ul > li > a:hover {text-decoration: none;}
#contct > ul > li.active { -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #dfdfdf #dfdfdf;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-bottom: 25px; }
#contct > ul > li.active > a {border-bottom: medium none;}
#contct > ul > li.active > a span {}
#contct > ul > li.has-sub > a span {
    background: url("../images/down-conn.png");background-repeat:  no-repeat; background-position: right center; background-size: auto;
    line-height: 20px;    
    border-radius: 2px;
}
#contct .active1 {
    color: #3498db !important;
    font-family: "open sans semibold";
    font-size: 14px !important;
    color: #3498db !important;
}
#contct > ul > li.has-sub.active > a span {
    background: url("../images/up-conn.png");background-repeat:  no-repeat; background-position: right center; background-size:  auto;
    line-height: 20px;
    outline: medium none;
    color: #515151 !important;
}
/*
#cssmenu .has-sub.active > ul {
    display: block;
}*/
#contct .faq-text {
     color: #616161;
  font-family: "proxima_nova_rgregular",sans-serif;
    font-size: 15px;
    line-height: 25px;
}
.search-form .input-text.required-entry.validate-email {
    width: 100%;
}

#contct .has-sub > ul {
    /*background: #fafafa ;*/
    display: none;
    padding: 3px 12px;  
    
}
#contct {
    margin-bottom: 0;
}
#contct .keyword_bx > div:last-child {
    margin-bottom: 0 !important;
}

#contct .has-sub:last-child{border-bottom:0px solid #d8d8d8;}
#contct .has-sub.active:last-child{/*border-bottom: 0px solid #d8d8d8;*/}



@media all and (max-width:767px){
    #contct > ul > li > a > span{ font-size: 14px;}  
    #contct > ul > li.has-sub > a span , #contct > ul > li.has-sub.active > a span{ padding-right: 15px; background-size: 15px auto;}
    #contactForm .buttons-set .button{ float: none!important;}
}
    
/*faq accoredian css end here*/