<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="<?php echo $this->getHeaderWidth() ?>"><?php echo $this->getHeaderHtml() ?></td>
            <td class="form-buttons"><?php echo $this->getButtonsHtml() ?></td>
        </tr>
    </table>
</div>
<div>
    <?php echo $this->getChildHtml('grid.filter.form') ?>
</div>
<div>
    <?php echo $this->getGridHtml() ?>
</div>
<script type="text/javascript">
    function addFormSubmit() {
        var filters = $$('#add_form input', '#add_form select');
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator  = new Validation('add_form');
        if (validator.validate()) {
            $('add_form').writeAttribute('action', '<?php echo $this->getUrl('*/*/add'); ?>');
            $('add_form').submit();
        }
    }
</script>
<script type="text/javascript">
    function retrieveFormSubmit() {
        var filters = $$('#add_form input', '#add_form select');
        var elements = [];
        for(var i in filters){
            if(filters[i].value && filters[i].value.length && !filters[i].disabled) elements.push(filters[i]);
        }
        var validator  = new Validation('add_form');
        if (validator.validate()) {
            $('add_form').writeAttribute('action', '<?php echo $this->getUrl('*/*/retrieve'); ?>');
            $('add_form').submit();
        }
    }
</script>