<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Onestepcheckout
 * @version    1.3.8
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->getAuthenticationStart()): ?>
    <div class="centinel" id="centinel_authenticate_block">
        <h3><?php echo $this->__('Card Verification') ?></h3>

        <p><?php echo $this->__('Please verify the card with the issuer bank:') ?></p>

        <div class="authentication">
            <iframe id="centinel_authenticate_iframe" frameborder="0" border="0" src=""></iframe>
        </div>
    </div>
    <script type="text/javascript">
        //<![CDATA[
        CentinelAuthenticateController = new CentinelAuthenticate('centinel_authenticate_block', 'centinel_authenticate_iframe');
        CentinelAuthenticateController.success = function () {
            $('aw-onestepcheckout-popup').hide();
            $('aw-onestepcheckout-overlay').hide();
        }
        CentinelAuthenticateController.start('<?php echo $this->getFrameUrl() ?>');
        //]]>
    </script>
<?php else: ?>
    <script type="text/javascript">
        //<![CDATA[
        if (typeof CentinelAuthenticateController != 'undefined') {
            CentinelAuthenticateController.cancel();
        }
        //]]>
    </script>
<?php endif; ?>
